<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<nav th:fragment="breadcrumb(crntName)" class=" mt-3"
     aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item">
      <a class="bread-link" th:href="@{/posts}">Home</a>
    </li>
    <li class="breadcrumb-item active"
        th:each="element:${@userSession.getBreadcrumb().params}"
        th:if="*{element.isSliced()}">
      <a th:href="@{|/posts/slice/*{element.name}|}" class="bread-link">
        <span th:text="*{@appScope.filterMap.get(element.name).get(element.value).name}"></span>
      </a>
    </li>
    <li class="breadcrumb-item active" aria-current="page"
        th:text="*{crntName}">
    </li>
  </ol>
</nav>

</html>