<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<div th:fragment="filterForm(filter)" class="py-5">
  <div th:text="*{filter}"></div>
  <form th:action="@{/posts/}" th:object="${filter}" method="post">
    <!--<div th:text=""></div>-->

    <div class="grid-filter">

      <input th:field="*{mark}" class="mark width-elm">
      <input th:field="*{model}" class="model width-elm">

      <input th:field="*{odometerFrom}" class="odometerFrom width-elm">
      <input th:field="*{odometerBefore}" class="odometerBefore width-elm">

      <input th:field="*{body}" class="body width-elm">
      <input th:field="*{gearbox}" class="gear width-elm">
      <input th:field="*{engine}" class="engine width-elm">
      <input th:field="*{transmission}" class="transmission width-elm">

      <input th:field="*{engine}" class="displacementFrom width-elm">
      <input th:field="*{engine}" class="displacementBefore width-elm">

      <input th:field="*{yearFrom}" class="yearFrom width-elm">
      <input th:field="*{yearBefore}" class="yearBefore width-elm">

      <input th:field="*{priceFrom}" class="priceFrom width-elm">
      <input th:field="*{priceBefore}" class="priceBefore width-elm">

      <input th:field="*{engineDisplacementFrom}" class="displacementFrom width-elm">
      <input th:field="*{engineDisplacementBefore}" class="displacementBefore width-elm">

      <input th:field="*{powerFrom}" class="powerFrom width-elm">
      <input th:field="*{powerBefore}" class="powerBefore width-elm">

      <input th:field="*{sort}" class="sort width-elm">

    </div>

    <button type="submit" class="btn btn-primary m-3"></button>

  </form>

  <!--  <div class="grid-filter">-->
  <!--    <div class="mark">mark</div>-->
  <!--    <div class="model">model</div>-->
  <!--    <div class="body">body</div>-->
  <!--    <div class="gear">gear</div>-->
  <!--  </div>-->

</div>

</html>