<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<div th:fragment="post(post)">
  <div class="post-item">
    <div class="ticket-photo">
      <img th:src="@{|/cars/img/*{post.images[0]}|}" class="main-ticket-photo"/>
    </div>
    <div class="content-post">
      <div class="ticket-title ticket-item">
        <span class="blue bold" th:text="*{post.name}"></span>
      </div>
      <div class="price-ticket ticket-item">
        <!--        <span class="bold-700 size22 green" th:text="${#numbers.formatCurrency(post.price)}"></span>-->
        <span class="bold-700 size22 green"
              th:text="${#numbers.formatDecimal(post.price, 0, 'DEFAULT', 0, 'DEFAULT')}"></span>
        <span class="bold-700 size22 green">$</span>
      </div>
      <div>
        <ul class="unstyle characteristic">
          <li class="item-char">
            <span th:replace="::odometerSVG(*{post.odometer})"></span>
          </li>
          <li class="item-char">
            <span th:replace="::tagSVG(*{post.gearbox})"></span>
          </li>
          <li class="item-char">
            <span th:replace="::tagSVG(*{post.engine})"></span>
          </li>
          <li class="item-char">
            <span th:replace="::tagSVG(*{post.transmission})"></span>
          </li>
        </ul>
      </div>
      <div th:text="*{post.modification}"></div>
      <div th:text="${#strings.abbreviate(post.description, 40)}"
           class="pt-2"></div>
      <span th:replace="::clockSVG(*{post.created})"></span>
    </div>
  </div>
</div>


<span th:fragment="tagSVG(value)" class="Tags__tag tag_size">
  <span class="Button__content">
    <svg class="IconSvg_size_18 EngineTypeField__icon"
         style="margin-left: 0">
      <use th:attr="'xlink:href'= *{value.image}"></use>
    </svg>
    <div class="EngineTypeField" th:text="*{value.name}"></div>
  </span>
</span>

<span th:fragment="odometerSVG(value)" class="Tags__tag tag_size">
  <span class="Button__content">
    <svg class="IconSvg_size_18 EngineTypeField__icon"
         style="margin-left: 0">
      <use th:attr="'xlink:href'= '#odometer'"></use>
    </svg>
<!--    th:text="|*{value} тыс. км|"-->
    <div class="EngineTypeField"
         th:text="|${#numbers.formatDecimal(value, 0, 'DEFAULT', 0, 'DEFAULT')} тыс. км|"
    ></div>
  </span>
</span>

<span th:fragment="clockSVG(value)" class="Tags__tag tag_size mt-2">
  <span class="Button__content" style="color: #9b9b9b">
    <svg class="IconSvg_size_18 EngineTypeField__icon"
         style="margin-left: 0">
      <use th:attr="'xlink:href'= '#clock'" fill="blue"></use>
    </svg>
    <!--    <div class="EngineTypeField" th:text="*{value}"></div>-->
    <div style="color: #9b9b9b" th:text="${#temporals.format(value, 'dd.MM.yyyy')}"></div>
  </span>
</span>


</html>