<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<div th:fragment="post(post)">
  <div class="post-item">
    <div class="ticket-photo">
      <img th:src="@{|/cars/img/*{post.images[0]}|}" class="main-ticket-photo"/>
    </div>
    <div class="content-post">
      <div class="ticket-title ticket-item">
        <span class="blue bold" th:text="*{post.name}"></span>
      </div>
      <div class="price-ticket ticket-item">
        <!--        <span class="bold-700 size22 green" th:text="${#numbers.formatCurrency(post.price)}"></span>-->
        <span class="bold-700 size22 green"
              th:text="${#numbers.formatDecimal(post.price, 0, 'DEFAULT', 0, 'DEFAULT')}"></span>
        <span class="bold-700 size22 green">$</span>
      </div>
      <div>
        <ul class="unstyle characteristic">
          <li class="item-char">
            <span th:replace="::odometerSVG(*{post.odometer})"></span>
          </li>
          <li class="item-char">
            <span th:replace="::tagSVG(*{post.gearbox})"></span>
          </li>
          <li class="item-char">
            <span th:replace="::tagSVG(*{post.engine})"></span>
          </li>
          <li class="item-char">
            <span th:replace="::tagSVG(*{post.transmission})"></span>
          </li>
        </ul>
      </div>
      <div th:text="*{post.modification}"></div>
      <div th:text="${#strings.abbreviate(post.description, 40)}"
           class="pt-2"></div>
      <span th:replace="::clockSVG(*{post.created})"></span>
    </div>
  </div>
</div>


<span th:fragment="tagSVG(value)" class="Tags__tag tag_size">
  <span class="Button__content">
    <svg class="IconSvg_size_18 EngineTypeField__icon"
         style="margin-left: 0">
      <use th:attr="'xlink:href'= *{value.image}"></use>
    </svg>
    <div class="EngineTypeField" th:text="*{value.name}"></div>
  </span>
</span>

<span th:fragment="odometerSVG(value)" class="Tags__tag tag_size">
  <span class="Button__content">
    <svg class="IconSvg_size_18 EngineTypeField__icon"
         style="margin-left: 0">
      <use th:attr="'xlink:href'= '#odometer'"></use>
    </svg>
    <!--    th:text="|*{value} тыс. км|"-->
    <div class="EngineTypeField"
         th:text="|${#numbers.formatDecimal(value, 0, 'DEFAULT', 0, 'DEFAULT')} тыс. км|"
    ></div>
  </span>
</span>

<span th:fragment="clockSVG(value)" class="Tags__tag tag_size mt-2">
  <span class="Button__content" style="color: #9b9b9b">
    <svg class="IconSvg_size_18 EngineTypeField__icon"
         style="margin-left: 0">
      <use th:attr="'xlink:href'= '#clock'" fill="blue"></use>
    </svg>
    <!--    <div class="EngineTypeField" th:text="*{value}"></div>-->
    <div style="color: #9b9b9b" th:text="${#temporals.format(value, 'dd.MM.yyyy')}"></div>
  </span>
</span>


<tr th:fragment="myPosts(list)" class="select-item" th:each="item,iterStat :*{list}">
  <!--      <th scope="row" th:text="${iterStat.count}">0</th>-->
  <td class="position-relative p-3" style="width: 4rem">
    <div class="form-check form-switch position-absolute top-50 start-50 translate-middle">
      <input
          th:if="${#strings.equals(item.status,'onSale')}"
          th:attr="data-id=*{item.id}"
          th:id="*{item.id}"
          class="form-check-input checkboxStatus" type="checkbox" role="switch" checked>

      <input
          th:if="${!#strings.equals(item.status,'onSale')}"
          th:attr="data-id=*{item.id}"
          th:id="*{item.id}"
          class="form-check-input" type="checkbox" role="switch">
    </div>
  </td>
  <td class="position-relative" style="width: 170px;">
    <img th:if="${!#lists.isEmpty(item.images)}"
         th:src="@{|/cars/img/*{item.images[0]}|}" class="main-ticket-photo">
    <div th:if="${#lists.isEmpty(item.images)}"
         class="position-absolute top-50 start-50 translate-middle">NO IMAGE
    </div>
  </td>
  <td style="width: 350px;">
    <div class="mt-2">
      <span th:text="${item.name}" class="carName"></span>
      <div class="d-flex justify-content-between align-items-center mt-3">
        <div th:insert="fragments/postCar::clockSVG(*{item.created})" class="me-2"></div>
        <a th:href="@{|/cars/edit/${item.id}|}" style="margin-right: 20px;">
          <button type="button" class="btn edit-btn">редактировать</button>
        </a>
      </div>
    </div>
  </td>
  <td class="position-relative p-4" style="width: 3rem;">
    <div class="position-absolute top-50 start-50 translate-middle">
      <a th:href="@{|/myposts/deleteCar/${item.id}|}">
        <button type="button" class="btn-close color-close" aria-label="Close"></button>
      </a>
    </div>
  </td>
</tr>

</html>