<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<div th:fragment="inputfield(labelText,fieldName)" class="pt-3"
     th:with="inputType=${inputType?:'text'},placeholder=${placeholder?:''}">
  <label style="font-family:Muli, Arial, sans-serif;"
         th:for="${fieldName}" th:text="${labelText}">Имя</label>
  <input th:id="${fieldName}"
         th:type="${inputType}"
         th:placeholder="${placeholder}"
         class="form-control"
         th:field="*{__${fieldName}__}"
         th:classappend="${account['__${fieldName}__']!=null} ?
          (${#fields.hasErrors('__${fieldName}__')} ? ' is-invalid')">
  <div class="text-danger"
       th:if="${#fields.hasErrors('__${fieldName}__')}"
       th:text="${#strings.listJoin(#fields.errors('__${fieldName}__'),', ')}">
  </div>
</div>


<div th:fragment="selectfield(labelText, fieldName, fieldID)" class="pt-3"
     th:with="formId=${formId?:''}">

  <p text="${fieldID}"></p>
  <label style="font-family:Muli, Arial, sans-serif;"
         th:for="${fieldName}" th:text="${labelText}"></label>
  <select class="form-select" aria-label="Default select example"
          th:id="${fieldName}"
          th:name="${fieldName}"
          th:classappend="${(#fields.hasErrors('__${fieldName}__') ? ' is-invalid':'')}"
          th:form="${formId}"  >
    <th:block th:if="${fieldID!=null}">
      <option selected
              th:value="${fieldID}"
              th:text="${@appScope.getFilterMap().get(fieldName).get(fieldID).name}">
      </option>
      <option th:each="option:${@appScope.getFilterMap().get(fieldName)}"
              th:if="${fieldID!=option.getKey()}"
              th:value="${option.getKey()}"
              th:text="${option.getValue().name}">
      </option>
    </th:block>

    <th:block th:if="${fieldID==null}">
      <option selected value="" class="text-black-50">выбрать</option>
      <option th:each="option:${@appScope.getFilterMap().get(fieldName)}"
              th:value="${option.getKey()}"
              th:text="${option.getValue().name}">
      </option>
    </th:block>

  </select>
  <div class="text-danger"
       th:if="${#fields.hasErrors('__${fieldName}__')}"
       th:text="${#strings.listJoin(#fields.errors('__${fieldName}__'),', ')}">
  </div>
</div>
</html>
