body {
    -webkit-font-smoothing: antialiased;
    font-feature-settings: "pnum";
    font-family: YS Text, Arial, Helvetica Neue, Helvetica, yandex-sans-rub-sign, sans-serif;
    font-variant-numeric: proportional-nums;
    height: 100%;
    margin: 0;
    padding: 0;
    width: 100%;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[type=number] {
    -moz-appearance: textfield;
}

.MarkFieldTile__name {
    font-size: 13px;
    line-height: 18px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 100%;
}

.MarkFieldTile {
    align-items: center;
    background-color: #3a3a650a;
    border-radius: 8px;
    color: #00000080;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow: hidden;
    padding: 8px 4px;
    text-align: center;
}

.BodyTypeField {
    grid-gap: 16px;
    display: grid;
    /*grid-template-columns: repeat(2, calc(50% - 8px));*/
    grid-template-columns: repeat(2, 259px);
}

.BodyTypeField__tile {
    background-color: #3a3a6514;
    border: 1px solid #3a3a6514;
    border-radius: 12px;
    box-sizing: border-box;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    height: 140px;
    min-width: 259px;
    justify-content: end;
    padding: 24px 24px 12px;
    text-align: center;
}

.BodyTypeField__image {
    width: 212px !important;
}

.BodyTypeField__name {
    color: #00000080;
    font-size: 13px;
    line-height: 18px;
    margin-top: 8px;
    -webkit-font-smoothing: antialiased;
    font-feature-settings: "pnum";
    font-family: YS Text, Arial, Helvetica Neue, Helvetica, yandex-sans-rub-sign, sans-serif;
    font-variant-numeric: proportional-nums;
}

/*body {*/
/*    -webkit-font-smoothing: antialiased;*/
/*    font-feature-settings: "pnum";*/
/*    font-family: YS Text, Arial, Helvetica Neue, Helvetica, yandex-sans-rub-sign, sans-serif;*/
/*    font-variant-numeric: proportional-nums;*/
/*    height: 100%;*/
/*    margin: 0;*/
/*    padding: 0;*/
/*    width: 100%;*/
/*}*/

.SuperGenField__tile {
    border-radius: 12px;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    height: 140px;
    overflow: hidden;
    padding: 10px;
    position: relative;
}

.Radio__text {
    display: inline-block;
    font-size: 15px;
    padding: 2px 0;
    vertical-align: top;
}

.SuperGenField__image {
    height: 100%;
    left: 0;
    object-fit: cover;
    opacity: 1;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: -2;
}

.SuperGenField__tile:after {
    background: linear-gradient(180deg, #0009, #0006 30.8%, #0000 61.43%);
    content: "";
    display: block;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: -1;
}


/*Svg*/
.IconSvg_size_24 {
    height: 24px;
    width: 24px;
}

.EngineTypeField__icon {
    margin-right: 10px;
}

.Button__content {
    align-items: center;
    display: flex;
    height: 100%;
    justify-content: center;
}

.Button__content > div:first-child, .Button__content > span:first-child, .Button__content > svg:first-child {
    margin-left: 16px;
}

.EngineTypeField {
    margin-right: 16px;
}

.EngineTypeField .Button__content > :first-child {
    margin-left: 16px;
}

.Button.Button_color_whiteHoverBlueLightExtra {
    background-color: #fff;
    border-color: #0000001f;
    color: #000;
}

.Button_radius_round {
    border-radius: 1000px !important;
}

.Button_size_xl {
    font-size: 17px !important;
    height: 52px;
    line-height: 50px;
}

.Button {
    -webkit-font-smoothing: antialiased;
    -webkit-tap-highlight-color: transparent;
    background: #0000;
    border: 1px solid #0000;
    border-radius: 8px;
    box-sizing: border-box;
    color: #000000de !important;
    cursor: pointer !important;
    display: inline-block;
    font-family: inherit;
    font-size: 15px;
    margin: 0;
    max-width: 100%;
    outline: 0;
    padding: 0;
    position: relative;
    text-align: center;
    text-decoration: none;
    -webkit-user-select: none !important;
    user-select: none;
    vertical-align: middle;
    white-space: nowrap;
}

.Tags_mobile.Tags_properGaps .Tags__tag, .Tags_properGaps .Tags__tag {
    margin-bottom: 0;
    margin-right: 0;
}

.Tags__tag:not(:last-child) {
    margin-right: 8px;
}

.Tags__tag {
    display: inline-block;
    /*margin-bottom: 12px;*/
    max-width: 100%;
    white-space: nowrap;
}

.Tags_properGaps.Tags_wrap_wrap {
    column-gap: 8px;
    display: flex;
    flex-wrap: wrap;
    row-gap: 12px;
}

.MarkField__items {
    grid-gap: 8px;
    display: grid;
    grid-template-columns: repeat(4, 128px);
    /*grid-template-columns: repeat(4, 1fr);*/
    list-style-type: none;
    margin-bottom: 0;
    margin-top: 8px;
    padding-left: 0;
}

.color-close {
    /*color: #b30000;*/
    opacity: 100%;
    filter: invert(10%) sepia(72%) saturate(6844%) hue-rotate(1deg) brightness(87%) contrast(113%);
}

/*выбор цвета*/
.choose-color-silver {
    background: linear-gradient(to bottom, #f0f0f0, #c1c1c1);
    border-color: #c1c1c1;
    box-shadow: hsl(222deg 7% 47% / 39%) 1px 3px 2px
}

.choose-color-black {
    background: #000000;
    border-color: #000000;
    box-shadow: hsl(222deg 7% 47% / 39%) 1px 3px 2px
}

.choose-color-white {
    background: #ffffff;
    /*box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.12);*/
    border-color: rgba(0, 0, 0, 0.12);
    box-shadow: hsl(222deg 7% 47% / 39%) 1px 3px 2px
}

.choose-color-gray {
    background: #9c9999;
    border-color: #9c9999;
    box-shadow: hsl(222deg 7% 47% / 39%) 1px 3px 2px
}

.choose-color-blue {
    background: #334dff;
    border-color: #334dff;
    box-shadow: hsl(222deg 7% 47% / 39%) 1px 3px 2px
}

.choose-color-red {
    background: #fc4829;
    border-color: #fc4829;
    box-shadow: hsl(222deg 7% 47% / 39%) 1px 3px 2px
}

.choose-color-green {
    background: #35ba2b;
    border-color: #35ba2b;
    box-shadow: hsl(222deg 7% 47% / 39%) 1px 3px 2px
}

.choose-color-brown {
    background: #926547;
    border-color: #926547;
    box-shadow: hsl(222deg 7% 47% / 39%) 1px 3px 2px
}

.choose-color-beige {
    background: #f1d9b2;
    border-color: #f1d9b2;
    box-shadow: hsl(222deg 7% 47% / 39%) 1px 3px 2px
}

.choose-color-sky {
    background: #36a1ff;
    border-color: #36a1ff;
    box-shadow: hsl(222deg 7% 47% / 39%) 1px 3px 2px
}

.choose-color-gold {
    background: linear-gradient(to bottom, #ffed02, #fd9c00);
    border-color: #fabe00;
    box-shadow: hsl(222deg 7% 47% / 39%) 1px 3px 2px
}

.choose-color-magenta {
    background: #c5172d;
    border-color: #c5172d;
    box-shadow: hsl(222deg 7% 47% / 39%) 1px 3px 2px
}

.choose-color-purple {
    background: #9966cc;
    border-color: #9966cc;
    box-shadow: hsl(222deg 7% 47% / 39%) 1px 3px 2px
}

.choose-color-yellow {
    background: #fde90f;
    border-color: #fde90f;
    box-shadow: hsl(222deg 7% 47% / 39%) 1px 3px 2px
}

.choose-color-orange {
    background: #ff9966;
    border-color: #ff9966;
    box-shadow: hsl(222deg 7% 47% / 39%) 1px 3px 2px
}

.choose-color-pink {
    background: #ffc0cb;
    border-color: #ffc0cb;
    box-shadow: hsl(222deg 7% 47% / 39%) 1px 3px 2px
}

.ColorField__item {
    border-radius: 16px;
    cursor: pointer;
    height: 32px;
    position: relative;
    width: 32px;
}

.ColorField {
    /*grid-row-gap: 16px;*/
    display: grid;
    /*grid-template-columns: repeat(11,32px);*/
    /*justify-content: space-between;*/
    grid-row-gap: 9px;
    grid-template-columns: repeat(8, 41px);
    justify-content: start;
}


.numbering {
    background-color: #9b9b9b;
    float: left;
    color: #fff;
    text-align: center;
    padding: 2px 1px;
    width: 27px;
    height: 27px;
    border-radius: 25px;
    margin-left: 10px;
}

.small-label {
    opacity: .65;
    transform: scale(.85) translateY(-.5rem) translateX(.15rem);
}

.bg-light {
    background-color: RGBA(248, 249, 250) !important;
    border-radius: 20px;
    /*width: 480px;*/
    /*margin: 50px auto;*/
    /*padding: 20px;*/
}

.PhotosAdd__icon {
    align-items: center;
    box-sizing: border-box;
    color: #0c78ed;
    display: flex;
    font-size: 15px;
    /*height: 100%;*/
    height: 30px;
    justify-content: center;
    line-height: 20px;
    position: relative;
    width: 100%;
}

.PhotosAdd {
    height: 30px;
    align-items: center;
    box-sizing: border-box;
    color: #0c78ed;
    display: flex;
    font-size: 15px;
    /*height: 100%;*/
    justify-content: center;
    line-height: 20px;
    position: relative;
    width: 100%;
}

.PhotosAdd__title {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.IconSvg_size_32 {
    height: 32px;
    width: 32px;
}

.IconSvg_size_24 {
    height: 24px;
    width: 24px;
}

.PhotosAdd {
    /*background-color: #0c78ed1f;*/
    border: none;
    border-radius: 8px;
    font-size: 13px;
    line-height: 18px;
}

.PhotosAdd__wrapper {
    align-items: center;
    display: flex;
    height: 100%;
    justify-content: center;
    overflow: hidden;
    width: 100%;
}

.PhotosAdd__withPhotos {
    background-color: #0c78ed1f;
    border: none;
    border-radius: 8px;
    font-size: 13px;
    line-height: 18px;
}

.MdsPhotos__addButton {
    height: 130px;
    width: 132px;
}

.PhotosAdd__addButton {
    /* background-color: #0c78ed1f; */
    /* border: none; */
    /* border-radius: 8px; */
    font-size: 13px;
    line-height: 18px;
}

.display-none {
    display: none;
}


input::placeholder {
    /*color: black;*/
    color: gray;
    font-size: 1rem;
    padding: .375rem 2.25rem .375rem 0rem;
    -moz-padding-start: calc(0.75rem - 3px);
    font-weight: 400;
    line-height: 1.5;
}

.logo {
    background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='utf-8'%3F%3E%3Csvg viewBox='0 0 320.605 41.035' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3Cdefs%3E%3CradialGradient id='linearGradient3869-7-1' gradientUnits='userSpaceOnUse' cx='156.61572' cy='550.08209' r='35.316086' xlink:href='%23linearGradient3869-7'%3E%3C/radialGradient%3E%3ClinearGradient id='linearGradient3869-7'%3E%3Cstop style='stop-color:%235a5a5a;stop-opacity:1;' offset='0' id='stop3871-4'%3E%3C/stop%3E%3Cstop style='stop-color:%238c8c8c;stop-opacity:1;' offset='1' id='stop3873-0'%3E%3C/stop%3E%3C/linearGradient%3E%3CradialGradient id='linearGradient3861-8-2' gradientUnits='userSpaceOnUse' cx='156.61572' cy='550.08209' r='20.359375' xlink:href='%23linearGradient3861-8'%3E%3C/radialGradient%3E%3CradialGradient id='linearGradient3861-1' gradientUnits='userSpaceOnUse' gradientTransform='matrix(1,0,0,2.2787473,0,-694.14333)' cx='40.102673' cy='542.83075' r='9.2574911' xlink:href='%23linearGradient3861'%3E%3C/radialGradient%3E%3ClinearGradient id='linearGradient3861'%3E%3Cstop style='stop-color:%23d4d4d4;stop-opacity:1;' offset='0' id='stop3863'%3E%3C/stop%3E%3Cstop style='stop-color:%238c8c8c;stop-opacity:1;' offset='1' id='stop3865'%3E%3C/stop%3E%3C/linearGradient%3E%3CradialGradient id='linearGradient3861-2' gradientUnits='userSpaceOnUse' gradientTransform='matrix(1,0,0,0.41890259,0,317.85374)' cx='68.286697' cy='546.98877' r='27.164116' xlink:href='%23linearGradient3861'%3E%3C/radialGradient%3E%3CradialGradient id='linearGradient3861-3' gradientUnits='userSpaceOnUse' gradientTransform='matrix(1,0,0,2.4281705,0,-749.51754)' cx='771.67413' cy='527.11829' r='8.1949682' xlink:href='%23linearGradient3861'%3E%3C/radialGradient%3E%3CradialGradient id='linearGradient3861-4' gradientUnits='userSpaceOnUse' gradientTransform='matrix(1,0,0,0.25711245,0,395.04561)' cx='743.26166' cy='531.77039' r='29.309336' xlink:href='%23linearGradient3861'%3E%3C/radialGradient%3E%3CradialGradient id='linearGradient3861-5' gradientUnits='userSpaceOnUse' gradientTransform='matrix(1,0,0,0.02215708,0,540.80605)' cx='379.20245' cy='553.06024' r='127.87267' xlink:href='%23linearGradient3861'%3E%3C/radialGradient%3E%3CradialGradient id='linearGradient3861-6' gradientUnits='userSpaceOnUse' gradientTransform='matrix(0.95773387,-0.28765577,0.69214213,2.3044488,-348.2941,-557.4562)' cx='499.44885' cy='542.25244' r='13.161516' xlink:href='%23linearGradient3861'%3E%3C/radialGradient%3E%3CradialGradient id='linearGradient3861-7' gradientUnits='userSpaceOnUse' gradientTransform='matrix(1,0,0,2.1596139,0,-589.76344)' cx='64.234016' cy='508.58603' r='12.746268' xlink:href='%23linearGradient3861'%3E%3C/radialGradient%3E%3ClinearGradient id='linearGradient4501-1' gradientUnits='userSpaceOnUse' x1='58.504505' y1='509.40259' x2='66.377861' y2='511.8801' xlink:href='%23linearGradient4501'%3E%3C/linearGradient%3E%3ClinearGradient id='linearGradient4501'%3E%3Cstop style='stop-color:%235b5b5b;stop-opacity:1;' offset='0' id='stop4503'%3E%3C/stop%3E%3Cstop style='stop-color:%23262626;stop-opacity:1;' offset='1' id='stop4505'%3E%3C/stop%3E%3C/linearGradient%3E%3CradialGradient id='linearGradient3861-10' gradientUnits='userSpaceOnUse' gradientTransform='matrix(1,0,0,0.40156743,0,301.36613)' cx='611.315' cy='503.59247' r='118.31301' xlink:href='%23linearGradient3861'%3E%3C/radialGradient%3E%3CradialGradient id='linearGradient3861-11' gradientUnits='userSpaceOnUse' gradientTransform='matrix(0.61749087,-0.78657805,0.67864846,0.53276243,-70.596846,785.70833)' cx='702.05103' cy='499.72525' r='17.523031' xlink:href='%23linearGradient3861'%3E%3C/radialGradient%3E%3CradialGradient id='linearGradient3861-12' gradientUnits='userSpaceOnUse' gradientTransform='matrix(1,0,0,1.1250065,0,-49.709315)' cx='281.31543' cy='397.65384' r='29.504906' xlink:href='%23linearGradient3861'%3E%3C/radialGradient%3E%3CradialGradient id='linearGradient3861-13' gradientUnits='userSpaceOnUse' gradientTransform='matrix(1,0,0,0.2231618,0,311.85463)' cx='419.64331' cy='401.44089' r='140.72171' xlink:href='%23linearGradient3861'%3E%3C/radialGradient%3E%3CradialGradient id='linearGradient3861-14' gradientUnits='userSpaceOnUse' gradientTransform='matrix(1,0,0,0.67073681,0,134.05073)' cx='588.33893' cy='407.12335' r='46.162327' xlink:href='%23linearGradient3861'%3E%3C/radialGradient%3E%3CradialGradient id='linearGradient3861-16' gradientUnits='userSpaceOnUse' gradientTransform='matrix(1,0,0,0.07768326,0,429.921)' cx='358.74936' cy='466.13162' r='285.94614' xlink:href='%23linearGradient3861'%3E%3C/radialGradient%3E%3ClinearGradient id='linearGradient4270-1' gradientUnits='userSpaceOnUse' x1='293.66501' y1='380.00488' x2='281.03098' y2='427.84079' xlink:href='%23linearGradient4270'%3E%3C/linearGradient%3E%3ClinearGradient id='linearGradient4270'%3E%3Cstop style='stop-color:%23dae1e3;stop-opacity:1;' offset='0' id='stop4272'%3E%3C/stop%3E%3Cstop style='stop-color:%2390a4aa;stop-opacity:1;' offset='1' id='stop4274'%3E%3C/stop%3E%3C/linearGradient%3E%3ClinearGradient id='linearGradient4270-2' gradientUnits='userSpaceOnUse' x1='322.42386' y1='386.39642' x2='311.03406' y2='417.11734' xlink:href='%23linearGradient4270'%3E%3C/linearGradient%3E%3ClinearGradient id='linearGradient4270-3' gradientUnits='userSpaceOnUse' x1='367.16483' y1='380.06525' x2='362.20984' y2='415.24567' xlink:href='%23linearGradient4270'%3E%3C/linearGradient%3E%3ClinearGradient id='linearGradient4270-4' gradientUnits='userSpaceOnUse' x1='461.93851' y1='384.40085' x2='465.14029' y2='420.07678' xlink:href='%23linearGradient4270'%3E%3C/linearGradient%3E%3ClinearGradient id='linearGradient4270-5' gradientUnits='userSpaceOnUse' x1='526.60114' y1='398.15094' x2='538.28961' y2='418.4664' xlink:href='%23linearGradient4270'%3E%3C/linearGradient%3E%3ClinearGradient id='linearGradient4270-6' gradientUnits='userSpaceOnUse' x1='584.07904' y1='395.96552' x2='601.52643' y2='426.68646' xlink:href='%23linearGradient4270'%3E%3C/linearGradient%3E%3CradialGradient id='linearGradient3869-1' gradientUnits='userSpaceOnUse' cx='156.61572' cy='550.08209' r='35.316086' xlink:href='%23linearGradient3869'%3E%3C/radialGradient%3E%3ClinearGradient id='linearGradient3869'%3E%3Cstop style='stop-color:%235a5a5a;stop-opacity:1;' offset='0' id='stop3871'%3E%3C/stop%3E%3Cstop style='stop-color:%238c8c8c;stop-opacity:1;' offset='1' id='stop3873'%3E%3C/stop%3E%3C/linearGradient%3E%3CradialGradient id='linearGradient3861-20' gradientUnits='userSpaceOnUse' cx='156.61572' cy='550.08209' r='20.359375' xlink:href='%23linearGradient3861'%3E%3C/radialGradient%3E%3C/defs%3E%3Cpath d='M 7.519 33.356 C 6.102 33.356 4.975 33.012 4.133 32.323 C 3.293 31.627 2.688 30.613 2.325 29.277 C 1.962 27.938 1.779 26.313 1.779 24.4 L 1.779 12.244 C 1.779 10.959 1.861 9.788 2.027 8.718 C 2.195 7.652 2.488 6.729 2.915 5.948 C 3.34 5.169 3.934 4.566 4.699 4.139 C 5.46 3.715 6.44 3.504 7.633 3.504 C 8.773 3.504 9.702 3.703 10.421 4.107 C 11.14 4.511 11.696 5.087 12.093 5.831 C 12.493 6.579 12.765 7.464 12.915 8.487 C 13.066 9.511 13.14 10.64 13.14 11.878 L 13.14 15.112 L 9.772 15.112 L 9.772 11.861 C 9.772 10.049 9.645 8.69 9.38 7.793 C 9.122 6.889 8.541 6.437 7.633 6.437 C 6.672 6.437 6.028 6.9 5.701 7.823 C 5.375 8.747 5.212 10.086 5.212 11.846 L 5.212 24.484 C 5.212 25.896 5.271 27.047 5.396 27.927 C 5.515 28.806 5.743 29.442 6.084 29.842 C 6.419 30.24 6.904 30.437 7.535 30.437 C 8.452 30.437 9.055 29.971 9.339 29.044 C 9.632 28.116 9.772 26.592 9.772 24.468 L 9.772 21.23 L 13.171 21.23 L 13.171 24.433 C 13.171 26.381 13.001 28.016 12.667 29.344 C 12.329 30.672 11.751 31.668 10.933 32.343 C 10.114 33.02 8.976 33.356 7.519 33.356 Z' style='fill: rgb(51, 51, 51); white-space: pre;'%3E%3C/path%3E%3Cpath d='M 15.77 33.008 L 20.198 3.818 L 24.328 3.818 L 29.156 33.008 L 25.92 33.008 L 25.091 27.434 L 19.802 27.434 L 19.041 33.008 L 15.77 33.008 Z M 20.182 24.648 L 24.66 24.648 L 22.357 9.223 L 22.305 9.223 L 20.182 24.648 Z' style='fill: rgb(51, 51, 51); white-space: pre;'%3E%3C/path%3E%3Cpath d='M 32.37 33.008 L 32.37 3.818 L 38.491 3.818 C 40.039 3.818 41.185 4.091 41.924 4.64 C 42.667 5.185 43.148 6.01 43.376 7.109 C 43.603 8.21 43.716 9.594 43.716 11.267 C 43.716 13.067 43.531 14.499 43.169 15.561 C 42.802 16.623 42.096 17.307 41.045 17.618 C 41.578 17.707 42.018 17.933 42.365 18.298 C 42.712 18.66 42.985 19.231 43.185 20.006 C 43.384 20.779 43.526 21.816 43.607 23.116 C 43.69 24.413 43.731 26.047 43.731 28.016 C 43.731 28.204 43.731 28.474 43.731 28.827 C 43.731 29.182 43.737 29.569 43.749 29.991 C 43.761 30.408 43.774 30.823 43.79 31.234 C 43.807 31.642 43.831 32.006 43.864 32.323 C 43.901 32.633 43.944 32.864 43.997 33.008 L 40.582 33.008 C 40.54 32.906 40.499 32.686 40.463 32.343 C 40.43 32.001 40.403 31.551 40.384 30.983 C 40.36 30.421 40.344 29.747 40.331 28.97 C 40.323 28.191 40.317 27.316 40.317 26.348 C 40.317 25.382 40.317 24.323 40.317 23.174 C 40.317 22.067 40.268 21.224 40.174 20.647 C 40.079 20.063 39.859 19.659 39.511 19.432 C 39.163 19.206 38.608 19.071 37.844 19.026 L 35.804 18.912 L 35.804 33.008 L 32.37 33.008 Z M 35.804 16.389 L 37.993 16.389 C 38.625 16.389 39.107 16.266 39.446 16.016 C 39.782 15.768 40.011 15.271 40.132 14.523 C 40.255 13.78 40.317 12.657 40.317 11.166 L 40.317 10.966 C 40.317 9.731 40.256 8.79 40.141 8.153 C 40.024 7.519 39.8 7.09 39.468 6.868 C 39.138 6.648 38.635 6.538 37.959 6.538 L 35.804 6.538 L 35.804 16.389 Z' style='fill: rgb(51, 51, 51); white-space: pre;'%3E%3C/path%3E%3Cpath d='M 55.838 32.236 L 55.838 16.692 L 57.928 16.692 L 58.169 19.026 L 58.37 19.026 C 58.76 18.393 59.212 17.884 59.702 17.488 C 60.197 17.093 60.735 16.804 61.329 16.623 C 61.914 16.43 62.555 16.342 63.245 16.342 C 64.244 16.342 65.115 16.541 65.842 16.943 C 66.573 17.349 67.117 18.038 67.472 19.026 L 67.647 19.026 C 68.022 18.393 68.455 17.884 68.944 17.501 C 69.445 17.117 69.987 16.829 70.6 16.639 C 71.217 16.437 71.864 16.342 72.555 16.342 C 73.492 16.342 74.327 16.499 75.033 16.829 C 75.737 17.15 76.296 17.678 76.7 18.419 C 77.099 19.161 77.307 20.151 77.307 21.394 L 77.307 32.236 L 74.703 32.236 L 74.703 21.802 C 74.703 21.177 74.629 20.652 74.484 20.238 C 74.335 19.821 74.125 19.511 73.855 19.276 C 73.575 19.052 73.252 18.893 72.89 18.795 C 72.524 18.692 72.138 18.641 71.72 18.641 C 71.032 18.641 70.4 18.818 69.818 19.17 C 69.236 19.533 68.768 20.036 68.418 20.709 C 68.064 21.377 67.887 22.177 67.887 23.101 L 67.887 32.236 L 65.28 32.236 L 65.28 21.802 C 65.28 21.177 65.209 20.652 65.049 20.238 C 64.887 19.821 64.679 19.511 64.431 19.276 C 64.174 19.052 63.86 18.893 63.493 18.795 C 63.134 18.692 62.757 18.641 62.362 18.641 C 61.652 18.641 60.999 18.818 60.397 19.17 C 59.794 19.533 59.318 20.036 58.963 20.709 C 58.609 21.377 58.435 22.177 58.435 23.101 L 58.435 32.236 L 55.838 32.236 Z' style='fill: rgb(51, 51, 51); white-space: pre;'%3E%3C/path%3E%3Cpath d='M 85.125 32.587 C 84.557 32.587 83.987 32.513 83.419 32.376 C 82.841 32.24 82.315 32.014 81.82 31.696 C 81.325 31.382 80.934 30.94 80.636 30.383 C 80.347 29.818 80.194 29.121 80.194 28.273 C 80.194 27.205 80.453 26.332 80.963 25.639 C 81.477 24.954 82.193 24.416 83.103 24.03 C 84.021 23.647 85.111 23.381 86.37 23.236 C 87.627 23.083 88.999 23.01 90.474 23.01 L 90.474 21.239 C 90.474 20.672 90.38 20.18 90.177 19.764 C 89.983 19.346 89.634 19.034 89.127 18.802 C 88.629 18.578 87.916 18.464 86.987 18.464 C 86.103 18.464 85.399 18.578 84.879 18.802 C 84.355 19.034 83.995 19.321 83.789 19.676 C 83.578 20.029 83.474 20.42 83.474 20.855 L 83.474 21.307 L 80.963 21.307 C 80.942 21.201 80.934 21.105 80.934 21.007 C 80.934 20.909 80.934 20.792 80.934 20.652 C 80.934 19.706 81.2 18.914 81.717 18.269 C 82.241 17.63 82.97 17.15 83.917 16.829 C 84.862 16.499 85.945 16.342 87.171 16.342 C 88.471 16.342 89.55 16.526 90.434 16.902 C 91.305 17.269 91.965 17.806 92.406 18.497 C 92.856 19.186 93.072 20.012 93.072 20.977 L 93.072 29.393 C 93.072 29.772 93.163 30.029 93.339 30.177 C 93.512 30.325 93.74 30.395 93.987 30.395 L 95.139 30.395 L 95.139 32.112 C 94.868 32.236 94.561 32.329 94.227 32.427 C 93.889 32.513 93.505 32.554 93.072 32.554 C 92.56 32.554 92.14 32.446 91.805 32.24 C 91.471 32.04 91.213 31.751 91.037 31.391 C 90.858 31.023 90.739 30.613 90.685 30.163 L 90.474 30.163 C 90.123 30.651 89.675 31.085 89.127 31.447 C 88.588 31.806 87.983 32.087 87.317 32.287 C 86.638 32.484 85.92 32.587 85.125 32.587 Z M 85.777 30.395 C 86.408 30.395 87.001 30.301 87.563 30.101 C 88.125 29.904 88.625 29.626 89.058 29.256 C 89.488 28.897 89.834 28.458 90.091 27.944 C 90.345 27.435 90.474 26.879 90.474 26.262 L 90.474 24.958 C 88.879 24.958 87.524 25.048 86.402 25.231 C 85.28 25.409 84.41 25.723 83.814 26.171 C 83.217 26.625 82.911 27.268 82.911 28.094 C 82.911 28.624 83.034 29.057 83.269 29.393 C 83.506 29.729 83.835 29.981 84.276 30.148 C 84.71 30.317 85.203 30.395 85.777 30.395 Z' style='fill: rgb(51, 51, 51); white-space: pre;'%3E%3C/path%3E%3Cpath d='M 97.329 32.236 L 97.329 16.692 L 99.422 16.692 L 99.661 19.259 L 99.864 19.259 C 100.022 18.77 100.239 18.306 100.523 17.855 C 100.792 17.418 101.171 17.055 101.634 16.767 C 102.111 16.486 102.695 16.342 103.382 16.342 C 103.683 16.342 103.942 16.366 104.196 16.412 C 104.443 16.461 104.628 16.515 104.739 16.572 L 104.739 18.971 L 103.766 18.971 C 103.096 18.971 102.519 19.084 102.035 19.307 C 101.557 19.533 101.155 19.851 100.841 20.267 C 100.531 20.677 100.298 21.177 100.145 21.744 C 99.997 22.315 99.93 22.922 99.93 23.572 L 99.93 32.236 L 97.329 32.236 Z' style='fill: rgb(51, 51, 51); white-space: pre;'%3E%3C/path%3E%3Cpath d='M 107.129 32.236 L 107.129 10.872 L 109.726 10.872 L 109.726 24.222 L 116.318 16.692 L 119.39 16.692 L 114.07 22.715 L 119.684 32.236 L 116.701 32.236 L 112.389 24.64 L 109.726 27.326 L 109.726 32.236 L 107.129 32.236 Z' style='fill: rgb(51, 51, 51); white-space: pre;'%3E%3C/path%3E%3Cpath d='M 127.542 32.587 C 126.004 32.587 124.71 32.298 123.656 31.71 C 122.604 31.134 121.803 30.242 121.264 29.042 C 120.718 27.837 120.454 26.315 120.454 24.462 C 120.454 22.588 120.718 21.063 121.264 19.871 C 121.803 18.673 122.604 17.793 123.671 17.205 C 124.735 16.628 126.059 16.342 127.655 16.342 C 129.116 16.342 130.334 16.623 131.32 17.179 C 132.306 17.744 133.051 18.578 133.55 19.692 C 134.05 20.806 134.303 22.191 134.303 23.87 L 134.303 25.113 L 123.142 25.113 C 123.182 26.356 123.357 27.372 123.685 28.165 C 124.006 28.97 124.495 29.545 125.145 29.904 C 125.795 30.277 126.615 30.461 127.601 30.461 C 128.267 30.461 128.86 30.371 129.354 30.204 C 129.86 30.033 130.283 29.796 130.63 29.483 C 130.974 29.169 131.23 28.794 131.407 28.36 C 131.583 27.93 131.688 27.455 131.705 26.939 L 134.245 26.939 C 134.22 27.765 134.07 28.527 133.773 29.235 C 133.476 29.93 133.043 30.523 132.475 31.023 C 131.904 31.511 131.198 31.895 130.372 32.169 C 129.549 32.446 128.603 32.587 127.542 32.587 Z M 123.196 23.162 L 131.615 23.162 C 131.615 22.299 131.518 21.569 131.32 20.977 C 131.127 20.383 130.845 19.9 130.478 19.533 C 130.119 19.155 129.691 18.881 129.21 18.714 C 128.731 18.546 128.176 18.464 127.565 18.464 C 126.66 18.464 125.899 18.633 125.268 18.971 C 124.633 19.3 124.151 19.813 123.814 20.502 C 123.485 21.191 123.275 22.083 123.196 23.162 Z' style='fill: rgb(51, 51, 51); white-space: pre;'%3E%3C/path%3E%3Cpath d='M 141.155 32.587 C 140.347 32.587 139.715 32.432 139.268 32.128 C 138.809 31.825 138.485 31.417 138.286 30.92 C 138.094 30.415 137.99 29.875 137.99 29.307 L 137.99 18.881 L 135.986 18.881 L 135.986 16.692 L 138.051 16.692 L 138.527 12.347 L 140.597 12.347 L 140.597 16.692 L 143.513 16.692 L 143.513 18.881 L 140.597 18.881 L 140.597 28.921 C 140.597 29.41 140.682 29.78 140.862 30.029 C 141.039 30.277 141.374 30.395 141.862 30.395 L 143.513 30.395 L 143.513 32.112 C 143.322 32.211 143.081 32.287 142.808 32.343 C 142.53 32.409 142.246 32.458 141.969 32.513 C 141.68 32.562 141.407 32.587 141.155 32.587 Z' style='fill: rgb(51, 51, 51); white-space: pre;'%3E%3C/path%3E%3Cpath d='M 146.306 37.34 L 146.306 16.692 L 148.368 16.692 L 148.637 18.908 L 148.84 18.908 C 149.379 18.038 150.049 17.397 150.878 16.974 C 151.711 16.547 152.638 16.342 153.682 16.342 C 154.987 16.342 156.088 16.623 156.994 17.201 C 157.898 17.768 158.6 18.657 159.094 19.871 C 159.583 21.08 159.831 22.649 159.831 24.586 C 159.831 26.389 159.576 27.894 159.076 29.083 C 158.575 30.277 157.868 31.16 156.962 31.725 C 156.058 32.298 155.007 32.587 153.805 32.587 C 153.137 32.587 152.505 32.505 151.911 32.343 C 151.325 32.191 150.788 31.935 150.316 31.593 C 149.846 31.247 149.431 30.814 149.078 30.277 L 148.906 30.277 L 148.906 37.34 L 146.306 37.34 Z M 152.974 30.307 C 153.937 30.307 154.731 30.114 155.342 29.729 C 155.949 29.344 156.403 28.753 156.698 27.934 C 156.994 27.114 157.138 26.067 157.138 24.783 L 157.138 24.165 C 157.138 22.803 156.986 21.719 156.664 20.904 C 156.352 20.086 155.892 19.499 155.293 19.148 C 154.69 18.795 153.956 18.612 153.064 18.612 C 152.1 18.612 151.308 18.827 150.69 19.252 C 150.065 19.668 149.615 20.309 149.328 21.152 C 149.039 22.001 148.906 23.035 148.906 24.256 L 148.906 24.697 C 148.906 25.778 149.01 26.684 149.207 27.397 C 149.418 28.119 149.713 28.697 150.099 29.128 C 150.482 29.564 150.917 29.869 151.411 30.044 C 151.903 30.218 152.424 30.307 152.974 30.307 Z' style='fill: rgb(51, 51, 51); white-space: pre;'%3E%3C/path%3E%3Cpath d='M 163.047 32.236 L 163.047 10.872 L 165.647 10.872 L 165.647 32.236 L 163.047 32.236 Z' style='fill: rgb(51, 51, 51); white-space: pre;'%3E%3C/path%3E%3Cpath d='M 173.584 32.587 C 173.014 32.587 172.445 32.513 171.866 32.376 C 171.3 32.24 170.767 32.014 170.271 31.696 C 169.784 31.382 169.391 30.94 169.092 30.383 C 168.798 29.818 168.65 29.121 168.65 28.273 C 168.65 27.205 168.906 26.332 169.422 25.639 C 169.928 24.954 170.639 24.416 171.561 24.03 C 172.478 23.647 173.57 23.381 174.827 23.236 C 176.086 23.083 177.454 23.01 178.93 23.01 L 178.93 21.239 C 178.93 20.672 178.828 20.18 178.636 19.764 C 178.43 19.346 178.091 19.034 177.584 18.802 C 177.088 18.578 176.367 18.464 175.443 18.464 C 174.56 18.464 173.857 18.578 173.336 18.802 C 172.812 19.034 172.445 19.321 172.237 19.676 C 172.036 20.029 171.932 20.42 171.932 20.855 L 171.932 21.307 L 169.422 21.307 C 169.401 21.201 169.391 21.105 169.391 21.007 C 169.391 20.909 169.391 20.792 169.391 20.652 C 169.391 19.706 169.648 18.914 170.176 18.269 C 170.698 17.63 171.427 17.15 172.375 16.829 C 173.318 16.499 174.401 16.342 175.622 16.342 C 176.918 16.342 178.009 16.526 178.885 16.902 C 179.76 17.269 180.424 17.806 180.864 18.497 C 181.301 19.186 181.528 20.012 181.528 20.977 L 181.528 29.393 C 181.528 29.772 181.617 30.029 181.796 30.177 C 181.969 30.325 182.188 30.395 182.444 30.395 L 183.597 30.395 L 183.597 32.112 C 183.319 32.236 183.014 32.329 182.682 32.427 C 182.348 32.513 181.961 32.554 181.528 32.554 C 181.015 32.554 180.591 32.446 180.252 32.24 C 179.928 32.04 179.672 31.751 179.492 31.391 C 179.316 31.023 179.198 30.613 179.141 30.163 L 178.93 30.163 C 178.58 30.651 178.128 31.085 177.584 31.447 C 177.047 31.806 176.437 32.087 175.773 32.287 C 175.097 32.484 174.37 32.587 173.584 32.587 Z M 174.234 30.395 C 174.864 30.395 175.458 30.301 176.018 30.101 C 176.582 29.904 177.08 29.626 177.511 29.256 C 177.943 28.897 178.291 28.458 178.546 27.944 C 178.803 27.435 178.93 26.879 178.93 26.262 L 178.93 24.958 C 177.337 24.958 175.971 25.048 174.851 25.231 C 173.728 25.409 172.868 25.723 172.266 26.171 C 171.667 26.625 171.37 27.268 171.37 28.094 C 171.37 28.624 171.483 29.057 171.724 29.393 C 171.957 29.729 172.291 29.981 172.725 30.148 C 173.158 30.317 173.662 30.395 174.234 30.395 Z' style='fill: rgb(51, 51, 51); white-space: pre;'%3E%3C/path%3E%3Cpath d='M 191.698 32.587 C 190.205 32.587 188.947 32.298 187.936 31.71 C 186.916 31.134 186.148 30.236 185.627 29.024 C 185.106 27.816 184.851 26.291 184.851 24.462 C 184.851 22.627 185.106 21.11 185.627 19.907 C 186.148 18.714 186.925 17.818 187.961 17.222 C 188.992 16.639 190.271 16.342 191.784 16.342 C 192.852 16.342 193.774 16.474 194.552 16.75 C 195.329 17.031 195.971 17.432 196.482 17.96 C 196.998 18.497 197.373 19.129 197.622 19.884 C 197.87 20.627 197.989 21.487 197.989 22.448 L 195.36 22.448 C 195.36 21.544 195.243 20.806 194.991 20.218 C 194.743 19.643 194.356 19.211 193.82 18.922 C 193.293 18.633 192.596 18.497 191.729 18.497 C 190.863 18.497 190.116 18.692 189.483 19.075 C 188.852 19.448 188.37 20.061 188.033 20.884 C 187.704 21.713 187.533 22.803 187.533 24.165 L 187.533 24.783 C 187.533 26.067 187.699 27.133 188.022 27.975 C 188.347 28.826 188.827 29.442 189.451 29.837 C 190.086 30.229 190.853 30.428 191.759 30.428 C 192.643 30.428 193.357 30.268 193.903 29.956 C 194.437 29.641 194.831 29.186 195.077 28.595 C 195.329 28.006 195.45 27.291 195.45 26.468 L 197.989 26.468 C 197.989 27.332 197.87 28.144 197.622 28.889 C 197.373 29.641 196.998 30.291 196.482 30.836 C 195.971 31.391 195.321 31.825 194.537 32.128 C 193.749 32.432 192.803 32.587 191.698 32.587 Z' style='fill: rgb(51, 51, 51); white-space: pre;'%3E%3C/path%3E%3Cpath d='M 207.319 32.587 C 205.784 32.587 204.484 32.298 203.434 31.71 C 202.383 31.134 201.581 30.242 201.047 29.042 C 200.501 27.837 200.228 26.315 200.228 24.462 C 200.228 22.588 200.501 21.063 201.047 19.871 C 201.581 18.673 202.383 17.793 203.45 17.205 C 204.509 16.628 205.842 16.342 207.435 16.342 C 208.893 16.342 210.114 16.623 211.101 17.179 C 212.089 17.744 212.823 18.578 213.328 19.692 C 213.834 20.806 214.086 22.191 214.086 23.87 L 214.086 25.113 L 202.914 25.113 C 202.955 26.356 203.141 27.372 203.468 28.165 C 203.786 28.97 204.277 29.545 204.925 29.904 C 205.576 30.277 206.395 30.461 207.381 30.461 C 208.046 30.461 208.629 30.371 209.137 30.204 C 209.639 30.033 210.061 29.796 210.403 29.483 C 210.743 29.169 211.012 28.794 211.189 28.36 C 211.368 27.93 211.46 27.455 211.486 26.939 L 214.026 26.939 C 214.001 27.765 213.843 28.527 213.555 29.235 C 213.256 29.93 212.823 30.523 212.253 31.023 C 211.678 31.511 210.983 31.895 210.152 32.169 C 209.331 32.446 208.382 32.587 207.319 32.587 Z M 202.975 23.162 L 211.398 23.162 C 211.398 22.299 211.292 21.569 211.101 20.977 C 210.898 20.383 210.616 19.9 210.256 19.533 C 209.889 19.155 209.475 18.881 208.985 18.714 C 208.501 18.546 207.959 18.464 207.349 18.464 C 206.441 18.464 205.672 18.633 205.048 18.971 C 204.411 19.3 203.934 19.813 203.594 20.502 C 203.258 21.191 203.06 22.083 202.975 23.162 Z' style='fill: rgb(51, 51, 51); white-space: pre;'%3E%3C/path%3E%3Cg style='' transform='matrix(0.190237, 0, 0, 0.190237, 223.750916, -6.985428)'%3E%3Cg id='g-1' transform='matrix(0.65203711,0,0,0.65203711,-12.710921,-165.6857)'%3E%3Cg id='g-2' transform='translate(427.0822,2.9123139)'%3E%3Cg id='g-3'%3E%3Cpath id='path-4' d='m 216.15823,550.08209 c 0,32.88442 -26.65808,59.54251 -59.5425,59.54251 -32.88441,0 -59.542501,-26.65809 -59.542501,-59.54251 0,-32.88441 26.658091,-59.54249 59.542501,-59.54249 32.88442,0 59.5425,26.65808 59.5425,59.54249 z' style='fill:%231a1a1a;fill-opacity:1;fill-rule:nonzero;stroke:%23000000;stroke-width:0.24105166;stroke-linejoin:round;stroke-miterlimit:4;stroke-opacity:1;stroke-dashoffset:0'%3E%3C/path%3E%3Cpath id='path-6' d='m 195.70294,550.0821 c 0,21.58728 -17.49993,39.08722 -39.08721,39.08722 -21.58728,0 -39.08722,-17.49994 -39.08722,-39.08722 0,-21.58727 17.49994,-39.08721 39.08722,-39.08721 21.58728,0 39.08721,17.49994 39.08721,39.08721 z' style='fill:%23b3b3b3;fill-opacity:1;fill-rule:nonzero;stroke:%23000000;stroke-width:1;stroke-linejoin:round;stroke-miterlimit:4;stroke-opacity:1;stroke-dasharray:none;stroke-dashoffset:0'%3E%3C/path%3E%3Cpath id='path-7' d='m 191.68181,550.0821 c 0,19.36647 -15.69961,35.06609 -35.06608,35.06609 -19.36647,0 -35.06609,-15.69962 -35.06609,-35.06609 0,-19.36646 15.69962,-35.06608 35.06609,-35.06608 19.36647,0 35.06608,15.69962 35.06608,35.06608 z' style='fill-opacity: 1; fill-rule: nonzero; stroke: rgb(0, 0, 0); stroke-width: 0.5; stroke-linejoin: round; stroke-miterlimit: 4; stroke-opacity: 1; stroke-dasharray: none; stroke-dashoffset: 0; fill: url(%23linearGradient3869-7-1);'%3E%3C/path%3E%3Cpath id='path-9' d='m 181.19248,550.0821 c 0,13.57338 -11.00338,24.57676 -24.57674,24.57676 -13.57339,0 -24.57677,-11.00338 -24.57677,-24.57676 0,-13.57336 11.00338,-24.57675 24.57677,-24.57675 13.57336,0 24.57674,11.00339 24.57674,24.57675 z' style='fill:%23999999;fill-opacity:1;fill-rule:nonzero;stroke:%23000000;stroke-width:0.5;stroke-linejoin:round;stroke-miterlimit:4;stroke-opacity:1;stroke-dasharray:none;stroke-dashoffset:0'%3E%3C/path%3E%3Cpath id='path-10' d='m 176.4751,550.08209 c 0,10.96804 -8.89135,19.85938 -19.85937,19.85938 -10.96805,0 -19.85938,-8.89134 -19.85938,-19.85938 0,-10.96802 8.89133,-19.85937 19.85938,-19.85937 10.96802,0 19.85937,8.89135 19.85937,19.85937 z' style='fill-opacity: 1; fill-rule: nonzero; stroke: rgb(0, 0, 0); stroke-width: 1; stroke-linejoin: round; stroke-miterlimit: 4; stroke-opacity: 1; stroke-dasharray: none; stroke-dashoffset: 0; fill: url(%23linearGradient3861-8-2);'%3E%3C/path%3E%3Cpath id='path-12' d='M 161.052 550.082 C 161.052 555.998 152.179 555.998 152.179 550.082 C 152.179 547.991 154.524 545.645 156.616 545.645 C 158.707 545.645 161.052 547.991 161.052 550.082 Z' style='fill:%23000000;fill-opacity:1;fill-rule:nonzero;stroke:%23000000;stroke-width:0.01796154;stroke-linejoin:round;stroke-miterlimit:4;stroke-opacity:1;stroke-dashoffset:0'%3E%3C/path%3E%3C/g%3E%3Cg id='g-4'%3E%3C/g%3E%3C/g%3E%3Cpath id='path-53' d='M 63.423888,474.95331 C 91.488324,439.845 164.02437,431.00151 245.76755,428.62415 c 31.6114,-15.32082 46.03842,-37.39265 51.55017,-62.96691 2.44162,-3.65325 5.33705,-6.39886 9.63575,-6.33795 35.74627,-16.74345 244.63679,-20.61486 278.16434,17.88294 9.86181,15.33952 13.0193,30.31249 44.84632,48.28784 1.88973,1.69888 4.6948,3.71746 7.4961,4.43347 63.36368,21.52555 104.38413,52.44541 126.64479,91.25291 2.23612,3.51341 6.57447,9.31157 2.6791,12.14097 -4.27346,9.72753 -98.55011,19.42146 -115.74435,16.99329 -51.99298,-34.17665 -109.79617,-29.6709 -132.63223,-5.36896 -1.1143,7.29034 -3.12788,10.70325 -11.67685,10.55892 l -286.75482,0 C 213.60797,462.35717 96.687327,469.85084 92.307964,548.8604 l -38.064748,-3.54214 0.261688,-16.60329 c 14.161674,-15.14568 6.594134,-32.26724 8.918984,-53.76166 z' style='fill:%23800000;fill-opacity:1;fill-rule:nonzero;stroke:%23000000;stroke-width:1;stroke-linejoin:round;stroke-miterlimit:4;stroke-opacity:1;stroke-dasharray:none;stroke-dashoffset:0'%3E%3C/path%3E%3Cpath id='path-54' d='m 34.327301,524.19144 c 1.981405,-2.90367 10.377502,-2.10586 10.377502,-2.10586 1.004504,0.14187 2.363783,-0.40798 2.290981,3.9387 l 2.114378,37.40749 c -8.7354,1.15466 -12.4149,-1.82974 -13.236563,-7.92934 L 35.07055,539.67998 c -1.09058,-4.92204 -7.903542,-8.20911 -0.743249,-15.48854 z' style='fill-opacity: 1; fill-rule: nonzero; stroke: rgb(0, 0, 0); stroke-width: 0.5; stroke-linejoin: round; stroke-miterlimit: 4; stroke-opacity: 1; stroke-dasharray: none; stroke-dashoffset: 0; fill: url(%23linearGradient3861-1);'%3E%3C/path%3E%3Cpath id='path-55' d='m 56.50807,536.18784 c 12.328985,6.48256 16.496695,7.49697 31.807839,6.06987 11.961071,0.10565 6.298414,14.4288 -1.610371,14.99303 l -33.542087,0.86712 C 31.112297,553.6864 44.580043,533.02239 56.50807,536.18784 z' style='fill-opacity: 1; fill-rule: nonzero; stroke: rgb(0, 0, 0); stroke-width: 0.5; stroke-linejoin: round; stroke-miterlimit: 4; stroke-opacity: 1; stroke-dasharray: none; stroke-dashoffset: 0; fill: url(%23linearGradient3861-2);'%3E%3C/path%3E%3Cpath id='path-56' d='m 764.15955,510.19904 c 3.33194,-12.17637 22.85768,1.78739 11.91078,9.6352 l 10e-6,16.34899 c 2.58238,8.45479 -10.22185,11.51997 -11.21005,2.80297 -0.25138,-9.59572 -1.29523,-19.19144 -0.70074,-28.78716 z' style='fill-opacity: 1; fill-rule: nonzero; stroke: rgb(0, 0, 0); stroke-width: 1; stroke-linejoin: round; stroke-miterlimit: 4; stroke-opacity: 1; stroke-dasharray: none; stroke-dashoffset: 0; fill: url(%23linearGradient3861-3);'%3E%3C/path%3E%3Cpath id='path-57' d='m 723.97826,525.43534 40.466,-0.70074 c 10.09603,0.005 10.12331,13.43892 0.35037,13.54604 l -40.99156,0.52555 c -11.82756,-0.35567 -13.15306,-12.6055 0.17519,-13.37085 z' style='fill-opacity: 1; fill-rule: nonzero; stroke: rgb(0, 0, 0); stroke-width: 1; stroke-linejoin: round; stroke-miterlimit: 4; stroke-opacity: 1; stroke-dasharray: none; stroke-dashoffset: 0; fill: url(%23linearGradient3861-4);'%3E%3C/path%3E%3Cpath id='path-58' d='m 251.81517,550.60835 255.00995,-0.13139 0,5.16657 -254.353,-0.39417 c -0.9825,-1.6082 -1.07524,-3.14955 -0.65695,-4.64101 z' style='fill-opacity: 1; fill-rule: nonzero; stroke: rgb(0, 0, 0); stroke-width: 0.5; stroke-linejoin: round; stroke-miterlimit: 4; stroke-opacity: 1; stroke-dasharray: none; stroke-dashoffset: 0; fill: url(%23linearGradient3861-5);'%3E%3C/path%3E%3Cpath id='path-59' d='m 501.20446,521.41091 c 3.63024,10.77335 9.95176,17.31752 16.8178,23.00604 -1.07191,2.25746 -1.59554,7.81307 -3.13514,8.82991 -23.59887,15.58609 -28.7269,-69.67955 -13.68266,-31.83595 z' style='fill-opacity: 1; fill-rule: nonzero; stroke: rgb(0, 0, 0); stroke-width: 1; stroke-linejoin: round; stroke-miterlimit: 4; stroke-opacity: 1; stroke-dasharray: none; stroke-dashoffset: 0; fill: url(%23linearGradient3861-6);'%3E%3C/path%3E%3Cpath id='path-60' d='m 63.330425,481.64383 c 6.381502,-0.91625 11.927592,3.63289 13.399863,9.98557 -1.661216,10.3562 -2.178692,18.68887 -9.635196,39.29827 -5.783941,3.13529 -19.25352,10.50763 -14.273362,-2.48363 3.631222,-12.57173 6.95462,-25.14346 7.823379,-37.71519 -9.429996,-5.93102 -2.387512,-10.75579 2.685316,-9.08502 z' style='fill-opacity: 1; fill-rule: nonzero; stroke: rgb(0, 0, 0); stroke-width: 0.5; stroke-linejoin: round; stroke-miterlimit: 4; stroke-opacity: 1; stroke-dasharray: none; stroke-dashoffset: 0; fill: url(%23linearGradient3861-7);'%3E%3C/path%3E%3Cpath id='path-61' d='m 70.223006,493.4705 c 2.42443,0.79178 2.021323,2.30298 0.656696,4.43916 -4.470577,6.99822 -7.817175,16.25334 -5.896786,27.92124 0.03314,1.16845 -0.599453,2.23422 -1.986477,2.34381 l -10.087923,-0.006 c 0.843546,-12.59654 2.701702,-24.61138 7.577614,-37.53825 l 9.736876,2.84004 z' style='fill-opacity: 1; fill-rule: nonzero; stroke: rgb(0, 0, 0); stroke-width: 0.7; stroke-linejoin: round; stroke-miterlimit: 4; stroke-opacity: 1; stroke-dasharray: none; stroke-dashoffset: 0; fill: url(%23linearGradient4501-1);'%3E%3C/path%3E%3Cpath id='path-64' d='m 85.525362,532.80609 c -0.475382,1.96567 -2.876423,3.05841 -5.362874,2.4407 -2.486451,-0.6177 -4.116744,-2.71194 -3.641362,-4.6776 0.475382,-1.96567 2.87642,-3.0584 5.362872,-2.44069 2.48645,0.6177 4.116746,2.71194 3.641364,4.67759 z' style='fill:%23b3b3b3;fill-opacity:1;fill-rule:nonzero;stroke:%23000000;stroke-width:0.31965902;stroke-linejoin:round;stroke-miterlimit:4;stroke-opacity:1;stroke-dashoffset:0'%3E%3C/path%3E%3Cpath id='path-67' d='m 552.32719,456.33248 c 45.53678,-0.0657 93.87188,4.64618 177.05082,68.84757 l -5.303,0.76242 c -52.57363,-41.32381 -108.4076,-69.60629 -172.14742,-66.26538 -47.4209,5.57194 -67.55498,47.21835 -48.43504,91.17603 l -2.94501,-0.4955 c -12.12763,-21.05739 -17.20459,-83.00689 51.77965,-94.02514 z' style='fill-opacity: 1; fill-rule: nonzero; stroke: rgb(0, 0, 0); stroke-width: 0.5; stroke-linejoin: round; stroke-miterlimit: 4; stroke-opacity: 1; stroke-dasharray: none; stroke-dashoffset: 0; fill: url(%23linearGradient3861-10);'%3E%3C/path%3E%3Cpath id='path-68' d='m 692.84559,490.24975 c 7.5794,1.69798 16.89437,7.36226 25.73798,11.2726 -1.37732,0.95127 4.65583,10.736 -4.21175,8.92317 L 687.3951,492.11206 c -5.27697,-4.07673 -2.12635,-4.0477 5.45049,-1.86231 z' style='fill-opacity: 1; fill-rule: nonzero; stroke: rgb(0, 0, 0); stroke-width: 0.5; stroke-linejoin: round; stroke-miterlimit: 4; stroke-opacity: 1; stroke-dasharray: none; stroke-dashoffset: 0; fill: url(%23linearGradient3861-11);'%3E%3C/path%3E%3Cpath id='path-69' d='m 526.21213,452.23748 c 3.04563,0.4512 2.3127,5.30069 1.05294,5.32662 0,0 -17.22216,0.35451 -17.22216,0.35451 -3.3453,-0.42691 -8.36453,-0.29246 -10.13836,-3.85339 -0.50624,-2.09354 11.9162,-1.63972 16.9744,-1.90294 0,0 9.33318,0.0752 9.33318,0.0752 z' style='fill:%23b3b3b3;fill-opacity:1;fill-rule:nonzero;stroke:%23000000;stroke-width:0.46870628;stroke-linejoin:round;stroke-miterlimit:4;stroke-opacity:1;stroke-dashoffset:0'%3E%3C/path%3E%3Cpath id='path-70' d='m 295.65995,453.43867 c 0,0 -5.34766,4.42013 -13.01042,4.50432 -8.15352,0.0896 -16.04087,-3.13329 -14.59785,-4.53471 1.51762,-1.81245 25.33498,-2.16818 27.60827,0.0304 z' style='fill:%23b3b3b3;fill-opacity:1;fill-rule:nonzero;stroke:%23000000;stroke-width:0.46870628;stroke-linejoin:round;stroke-miterlimit:4;stroke-opacity:1;stroke-dashoffset:0'%3E%3C/path%3E%3Cpath id='path-71' d='m 297.9323,364.71064 9.45818,6.65704 c 5.01815,3.10148 3.28768,7.55385 0.34368,12.31619 -12.59656,18.76689 -31.68965,43.01477 -35.99079,44.4142 -6.99757,5.69492 -12.94657,0.3797 -19.04971,-3.317 -1.86427,-1.16858 0.65938,-6.00776 4.04238,-2.45461 18.8293,-14.45349 26.29627,-35.21938 39.44441,-52.82906 -3.13342,-1.70722 -0.41055,-4.17771 1.75185,-4.78676 z' style='fill-opacity: 1; fill-rule: nonzero; stroke: rgb(0, 0, 0); stroke-width: 0.5; stroke-linejoin: round; stroke-miterlimit: 4; stroke-opacity: 1; stroke-dasharray: none; stroke-dashoffset: 0; fill: url(%23linearGradient3861-12);'%3E%3C/path%3E%3Cpath id='path-72' d='m 335.48092,371.80259 c 34.05958,-1.55047 72.72769,-1.68665 110.01459,-0.35037 28.07584,1.98182 80.9105,2.06194 111.88464,50.03971 6.85288,12.65044 -1.95091,10.688 -8.52526,10.80637 L 279.4216,431.24719 c 13.02399,-15.38122 22.54427,-30.43766 34.51714,-46.14366 6.12975,-6.88594 12.64437,-12.87381 21.54218,-13.30094 z' style='fill-opacity: 1; fill-rule: nonzero; stroke: rgb(0, 0, 0); stroke-width: 1; stroke-linejoin: round; stroke-miterlimit: 4; stroke-opacity: 1; stroke-dasharray: none; stroke-dashoffset: 0; fill: url(%23linearGradient3861-13);'%3E%3C/path%3E%3Cpath id='path-73' d='m 587.21351,381.34397 c -1.83393,6.45994 14.95413,31.87989 44.00499,43.98678 1.55761,-1.29178 4.23942,1.12469 2.42612,2.88153 -9.74258,5.38842 -21.20735,8.62411 -34.6867,9.34158 -8.2299,1.06009 -14.77514,-0.82797 -19.26858,-6.30668 -11.26477,-17.92245 -24.1555,-30.15405 -37.26277,-41.62779 17.5558,-1.9461 29.73338,-6.94087 41.72771,-12.59462 2.23491,-2.31674 6.17337,2.5399 3.05923,4.3192 z' style='fill-opacity: 1; fill-rule: nonzero; stroke: rgb(0, 0, 0); stroke-width: 0.5; stroke-linejoin: round; stroke-miterlimit: 4; stroke-opacity: 1; stroke-dasharray: none; stroke-dashoffset: 0; fill: url(%23linearGradient3861-14);'%3E%3C/path%3E%3Cpath id='path-78' d='M 73.053215,484.62197 C 104.22965,452.70288 173.69728,445.6596 254.19308,445.90601 c 92.58359,-1.46538 184.46643,-3.31926 277.05002,0.64648 37.35565,1.54721 74.6186,4.62407 111.05418,21.35232 2.92188,2.15685 4.1637,4.54622 -4.97143,0.62503 -32.60633,-14.04457 -67.17066,-17.49136 -104.41831,-18.54024 -76.91553,-3.08476 -178.82784,-2.2769 -278.88964,-1.22388 -64.32427,3.18745 -142.16315,1.15093 -178.687275,39.32913 -0.503193,-1.15763 -1.307997,-2.31525 -2.27741,-3.47288 z' style='fill-opacity: 1; fill-rule: nonzero; stroke: rgb(0, 0, 0); stroke-width: 0.5; stroke-linejoin: round; stroke-miterlimit: 4; stroke-opacity: 1; stroke-dasharray: none; stroke-dashoffset: 0; fill: url(%23linearGradient3861-16);'%3E%3C/path%3E%3Cpath id='path-79' d='m 295.45834,369.33589 9.63336,3.85408 c 3.36513,3.0587 0.0969,6.67018 -1.85136,10.17166 -9.577,13.30205 -18.49668,26.43977 -31.64615,40.63493 -3.98638,4.28818 -7.36928,3.94333 -9.94846,1.80578 l -6.12966,-3.85408 c 13.1973,-17.05461 24.81793,-33.36993 39.94227,-52.61237 z' style='fill-opacity: 1; fill-rule: nonzero; stroke: rgb(0, 0, 0); stroke-width: 1; stroke-linejoin: round; stroke-miterlimit: 4; stroke-opacity: 1; stroke-dasharray: none; stroke-dashoffset: 0; fill: url(%23linearGradient4270-1);'%3E%3C/path%3E%3Cpath id='path-80' d='m 329.8652,379.26904 -11.00669,47.77315 -23.45848,0.17057 c -4.90864,0.13543 -3.20473,-2.52873 -1.21077,-5.45049 l 21.56988,-30.40224 c 3.7608,-5.16953 7.81695,-11.9781 14.10606,-12.09099 z' style='fill-opacity: 1; fill-rule: nonzero; stroke: rgb(0, 0, 0); stroke-width: 1; stroke-linejoin: round; stroke-miterlimit: 4; stroke-opacity: 1; stroke-dasharray: none; stroke-dashoffset: 0; fill: url(%23linearGradient4270-2);'%3E%3C/path%3E%3Cpath id='path-81' d='m 335.09525,374.79846 74.79238,-0.991 -3.22074,53.14647 -82.22487,0 10.65323,-52.15547 z' style='fill-opacity: 1; fill-rule: nonzero; stroke: rgb(0, 0, 0); stroke-width: 1; stroke-linejoin: round; stroke-miterlimit: 4; stroke-opacity: 1; stroke-dasharray: none; stroke-dashoffset: 0; fill: url(%23linearGradient4270-3);'%3E%3C/path%3E%3Cpath id='path-82' d='m 426.01933,373.80746 c 31.2176,0.65831 62.18624,2.17785 88.17086,14.61722 l 7.43248,41.25449 c -31.31859,-1.7198 -66.13975,-1.93607 -99.81508,-2.4775 l 4.21174,-53.39421 z' style='fill-opacity: 1; fill-rule: nonzero; stroke: rgb(0, 0, 0); stroke-width: 1; stroke-linejoin: round; stroke-miterlimit: 4; stroke-opacity: 1; stroke-dasharray: none; stroke-dashoffset: 0; fill: url(%23linearGradient4270-4);'%3E%3C/path%3E%3Cpath id='path-83' d='m 521.15516,391.89318 c 8.39042,1.427 19.08421,11.29969 31.43621,27.25245 2.19354,4.67375 5.20834,9.82658 -0.24775,10.03804 l -24.25148,0 -6.93698,-37.29049 z' style='fill-opacity: 1; fill-rule: nonzero; stroke: rgb(0, 0, 0); stroke-width: 1; stroke-linejoin: round; stroke-miterlimit: 4; stroke-opacity: 1; stroke-dasharray: none; stroke-dashoffset: 0; fill: url(%23linearGradient4270-5);'%3E%3C/path%3E%3Cpath id='path-84' d='m 551.3806,392.01705 36.14345,-10.7771 43.2323,43.85586 c -13.72275,7.13319 -38.94537,15.54842 -49.15031,2.72524 -8.28435,-12.95798 -19.84632,-24.04303 -30.22544,-35.804 z' style='fill-opacity: 1; fill-rule: nonzero; stroke: rgb(0, 0, 0); stroke-width: 1; stroke-linejoin: round; stroke-miterlimit: 4; stroke-opacity: 1; stroke-dasharray: none; stroke-dashoffset: 0; fill: url(%23linearGradient4270-6);'%3E%3C/path%3E%3Cpath id='path-91' d='m 329.76083,379.77184 1.13466,-4.70062 c -5.96912,0.079 -14.12058,9.9854 -16.96328,13.13958 l -23.59871,34.08858 c -2.67895,4.84877 -5.50375,9.48563 3.46119,8.97697' style='fill:none;stroke:%23000000;stroke-width:1px;stroke-linecap:butt;stroke-linejoin:miter;stroke-opacity:1'%3E%3C/path%3E%3Cg id='g-5'%3E%3Cg id='g-6'%3E%3Cpath id='path-102' d='m 216.15823,550.08209 c 0,32.88442 -26.65808,59.54251 -59.5425,59.54251 -32.88441,0 -59.542501,-26.65809 -59.542501,-59.54251 0,-32.88441 26.658091,-59.54249 59.542501,-59.54249 32.88442,0 59.5425,26.65808 59.5425,59.54249 z' style='fill:%231a1a1a;fill-opacity:1;fill-rule:nonzero;stroke:%23000000;stroke-width:0.24105166;stroke-linejoin:round;stroke-miterlimit:4;stroke-opacity:1;stroke-dashoffset:0'%3E%3C/path%3E%3Cpath id='path-104' d='m 195.70294,550.0821 c 0,21.58728 -17.49993,39.08722 -39.08721,39.08722 -21.58728,0 -39.08722,-17.49994 -39.08722,-39.08722 0,-21.58727 17.49994,-39.08721 39.08722,-39.08721 21.58728,0 39.08721,17.49994 39.08721,39.08721 z' style='fill:%23b3b3b3;fill-opacity:1;fill-rule:nonzero;stroke:%23000000;stroke-width:1;stroke-linejoin:round;stroke-miterlimit:4;stroke-opacity:1;stroke-dasharray:none;stroke-dashoffset:0'%3E%3C/path%3E%3Cpath id='path-105' d='m 191.68181,550.0821 c 0,19.36647 -15.69961,35.06609 -35.06608,35.06609 -19.36647,0 -35.06609,-15.69962 -35.06609,-35.06609 0,-19.36646 15.69962,-35.06608 35.06609,-35.06608 19.36647,0 35.06608,15.69962 35.06608,35.06608 z' style='fill-opacity: 1; fill-rule: nonzero; stroke: rgb(0, 0, 0); stroke-width: 0.5; stroke-linejoin: round; stroke-miterlimit: 4; stroke-opacity: 1; stroke-dasharray: none; stroke-dashoffset: 0; fill: url(%23linearGradient3869-1);'%3E%3C/path%3E%3Cpath id='path-107' d='m 181.19248,550.0821 c 0,13.57338 -11.00338,24.57676 -24.57674,24.57676 -13.57339,0 -24.57677,-11.00338 -24.57677,-24.57676 0,-13.57336 11.00338,-24.57675 24.57677,-24.57675 13.57336,0 24.57674,11.00339 24.57674,24.57675 z' style='fill:%23999999;fill-opacity:1;fill-rule:nonzero;stroke:%23000000;stroke-width:0.5;stroke-linejoin:round;stroke-miterlimit:4;stroke-opacity:1;stroke-dasharray:none;stroke-dashoffset:0'%3E%3C/path%3E%3Cpath id='path-108' d='m 176.4751,550.08209 c 0,10.96804 -8.89135,19.85938 -19.85937,19.85938 -10.96805,0 -19.85938,-8.89134 -19.85938,-19.85938 0,-10.96802 8.89133,-19.85937 19.85938,-19.85937 10.96802,0 19.85937,8.89135 19.85937,19.85937 z' style='fill-opacity: 1; fill-rule: nonzero; stroke: rgb(0, 0, 0); stroke-width: 1; stroke-linejoin: round; stroke-miterlimit: 4; stroke-opacity: 1; stroke-dasharray: none; stroke-dashoffset: 0; fill: url(%23linearGradient3861-20);'%3E%3C/path%3E%3Cpath id='path-110' d='M 161.052 550.082 C 161.052 555.998 152.179 555.998 152.179 550.082 C 152.179 547.991 154.524 545.645 156.616 545.645 C 158.707 545.645 161.052 547.991 161.052 550.082 Z' style='fill:%23000000;fill-opacity:1;fill-rule:nonzero;stroke:%23000000;stroke-width:0.01796154;stroke-linejoin:round;stroke-miterlimit:4;stroke-opacity:1;stroke-dashoffset:0'%3E%3C/path%3E%3C/g%3E%3Cg id='g-7'%3E%3C/g%3E%3C/g%3E%3Cg style='opacity:0.5' id='g-8'%3E%3C/g%3E%3C/g%3E%3Cpath id='rect2828-1-2' d='m 192.41827,71.924249 c 0,0 -7.38154,-3.559145 -4.57863,-3.51943 23.3079,-10.91735 159.51227,-13.441654 181.37347,11.660341 -8.50564,3.863288 -17.94679,7.169453 -27.84434,8.248928 C 295.52752,60.882555 200.71133,74.909537 192.41827,71.924249 z' style='fill:%23e6e6e6;fill-opacity:1;fill-rule:nonzero;stroke:%23000000;stroke-width:0.65203708;stroke-linejoin:round;stroke-miterlimit:4;stroke-opacity:1;stroke-dasharray:none;stroke-dashoffset:0'%3E%3C/path%3E%3C/g%3E%3C/svg%3E");
    /*height: 52px;*/
    height: 59px;
    /*width: 400px;*/
    width: 460px;
    min-width: 300px;
    background-repeat: no-repeat;
    background-position: center;
}

.badge-banner {
    background-color: #208097;
    color: #fff;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
}

.badge-banner .container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
}

.badge-banner__text {
    color: #fff;
    font-weight: 400;
    font-size: 14px;
    margin: 0;
    text-align: center;
}

.select-grey {
    color: #9e9e9e !important;
}

option:not(:first-of-type) {
    color: black;
}

.bread-link {
    text-decoration: none;
    color: #208097 !important;
    /*color: gray;*/
}

.bread-link:hover {
    text-decoration: underline;
    color: #208097;
    /*color: gray;*/
}

a, a:hover, a:visited, a:focus {
    color: inherit;
    text-decoration: none;
}

a:hover {
    color: inherit;
    text-decoration: none;
    cursor: pointer;
}

.pagination-dots {
    display: inline-block;
    min-width: 16px;
    padding: 7px 8px;
    line-height: 20px;
    text-decoration: none;
    box-sizing: content-box;
    text-align: center;
}

:root {
    --bd-btn-main: #2a92c6;
    --bs-btn-hover-bg: #1b6e82;
}


.pagination {
    /*--bs-pagination-padding-x: 0.75rem;*/
    /*--bs-pagination-padding-y: 0.375rem;*/
    /*--bs-pagination-font-size: 1rem;*/
    /*--bs-pagination-color: var(--bs-link-color);*/
    /*--bs-pagination-bg: #fff;*/
    /*--bs-pagination-border-width: 1px;*/
    --bs-pagination-border-color: #ffffff;
    /*--bs-pagination-border-radius: 0.375rem;*/
    --bs-pagination-hover-color: var(--bd-btn-main);
    --bs-pagination-hover-bg: #e9ecef;
    --bs-pagination-hover-border-color: #dee2e6;
    --bs-pagination-focus-color: var(--bd-btn-main);
    --bs-pagination-focus-bg: #e9ecef;
    --bs-pagination-focus-box-shadow: 0 0 0 0.25rem rgba(13, 110, 253, 0.25);
    --bs-pagination-active-color: #fff;
    --bs-pagination-active-bg: var(--bd-btn-main);
    --bs-pagination-active-border-color: var(--bd-btn-main);
    --bs-pagination-disabled-color: #6c757d7a;
    /*--bs-pagination-disabled-bg: #fff;*/
    --bs-pagination-disabled-border-color: #ffffff;
    /*display: flex;*/
    /*padding-left: 0;*/
    /*list-style: none;*/
}


.btn-primary {
    --bs-btn-color: #fff;
    --bs-btn-bg: var(--bd-btn-main);
    --bs-btn-border-color: var(--bd-btn-main);
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: var(--bd-btn-main);
    --bs-btn-hover-border-color: var(--bd-btn-main);
    --bs-btn-focus-shadow-rgb: 49, 132, 253;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: var(--bd-btn-main);
    --bs-btn-active-border-color: var(--bd-btn-main);
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #fff;
    --bs-btn-disabled-bg: var(--bd-btn-main);
    --bs-btn-disabled-border-color: var(--bd-btn-main);
}