body {
    -webkit-font-smoothing: antialiased;
    font-feature-settings: "pnum";
    font-family: YS Text, Arial, Helvetica Neue, Helvetica, yandex-sans-rub-sign, sans-serif;
    font-variant-numeric: proportional-nums;
    height: 100%;
    margin: 0;
    padding: 0;
    width: 100%;
}

.MarkFieldTile__name {
    font-size: 13px;
    line-height: 18px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 100%;
}

.MarkFieldTile {
    align-items: center;
    background-color: #3a3a650a;
    border-radius: 8px;
    color: #00000080;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow: hidden;
    padding: 8px 4px;
    text-align: center;
}

.BodyTypeField {
    grid-gap: 16px;
    display: grid;
    /*grid-template-columns: repeat(2, calc(50% - 8px));*/
    grid-template-columns: repeat(2, 259px);
}

.BodyTypeField__tile {
    background-color: #3a3a6514;
    border: 1px solid #3a3a6514;
    border-radius: 12px;
    box-sizing: border-box;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    height: 140px;
    min-width: 259px;
    justify-content: end;
    padding: 24px 24px 12px;
    text-align: center;
}

.BodyTypeField__image {
    width: 212px !important;
}

.BodyTypeField__name {
    color: #00000080;
    font-size: 13px;
    line-height: 18px;
    margin-top: 8px;
    -webkit-font-smoothing: antialiased;
    font-feature-settings: "pnum";
    font-family: YS Text, Arial, Helvetica Neue, Helvetica, yandex-sans-rub-sign, sans-serif;
    font-variant-numeric: proportional-nums;
}

/*body {*/
/*    -webkit-font-smoothing: antialiased;*/
/*    font-feature-settings: "pnum";*/
/*    font-family: YS Text, Arial, Helvetica Neue, Helvetica, yandex-sans-rub-sign, sans-serif;*/
/*    font-variant-numeric: proportional-nums;*/
/*    height: 100%;*/
/*    margin: 0;*/
/*    padding: 0;*/
/*    width: 100%;*/
/*}*/

.SuperGenField__tile {
    border-radius: 12px;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    height: 140px;
    overflow: hidden;
    padding: 10px;
    position: relative;
}

.Radio__text {
    display: inline-block;
    font-size: 15px;
    padding: 2px 0;
    vertical-align: top;
}

.SuperGenField__image {
    height: 100%;
    left: 0;
    object-fit: cover;
    opacity: 1;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: -2;
}

.SuperGenField__tile:after {
    background: linear-gradient(180deg, #0009, #0006 30.8%, #0000 61.43%);
    content: "";
    display: block;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: -1;
}


/*Svg*/
.IconSvg_size_24 {
    height: 24px;
    width: 24px;
}

.EngineTypeField__icon {
    margin-right: 10px;
}

.Button__content {
    align-items: center;
    display: flex;
    height: 100%;
    justify-content: center;
}

.Button__content > div:first-child, .Button__content > span:first-child, .Button__content > svg:first-child {
    margin-left: 16px;
}

.EngineTypeField {
    margin-right: 16px;
}

.EngineTypeField .Button__content > :first-child {
    margin-left: 16px;
}

.Button.Button_color_whiteHoverBlueLightExtra {
    background-color: #fff;
    border-color: #0000001f;
    color: #000;
}

.Button_radius_round {
    border-radius: 1000px !important;
}

.Button_size_xl {
    font-size: 17px !important;
    height: 52px;
    line-height: 50px;
}

.Button {
    -webkit-font-smoothing: antialiased;
    -webkit-tap-highlight-color: transparent;
    background: #0000;
    border: 1px solid #0000;
    border-radius: 8px;
    box-sizing: border-box;
    color: #000000de !important;
    cursor: pointer !important;
    display: inline-block;
    font-family: inherit;
    font-size: 15px;
    margin: 0;
    max-width: 100%;
    outline: 0;
    padding: 0;
    position: relative;
    text-align: center;
    text-decoration: none;
    -webkit-user-select: none !important;
    user-select: none;
    vertical-align: middle;
    white-space: nowrap;
}

.Tags_mobile.Tags_properGaps .Tags__tag, .Tags_properGaps .Tags__tag {
    margin-bottom: 0;
    margin-right: 0;
}

.Tags__tag:not(:last-child) {
    margin-right: 8px;
}

.Tags__tag {
    display: inline-block;
    /*margin-bottom: 12px;*/
    max-width: 100%;
    white-space: nowrap;
}

.Tags_properGaps.Tags_wrap_wrap {
    column-gap: 8px;
    display: flex;
    flex-wrap: wrap;
    row-gap: 12px;
}

.MarkField__items {
    grid-gap: 8px;
    display: grid;
    grid-template-columns: repeat(4, 128px);
    /*grid-template-columns: repeat(4, 1fr);*/
    list-style-type: none;
    margin-bottom: 0;
    margin-top: 8px;
    padding-left: 0;
}

.color-close {
    /*color: #b30000;*/
    opacity: 100%;
    filter: invert(10%) sepia(72%) saturate(6844%) hue-rotate(1deg) brightness(87%) contrast(113%);
}

/*выбор цвета*/
.choose-color-silver {
    background: linear-gradient(to bottom, #f0f0f0, #c1c1c1);
    border-color: #c1c1c1;
}

.choose-color-black {
    background: #000000;
    border-color: #000000;
}

.choose-color-white {
    background: #ffffff;
    box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.12);
    border-color: rgba(0, 0, 0, 0.12);
}

.choose-color-gray {
    background: #9c9999;
    border-color: #9c9999;
}

.choose-color-blue {
    background: #334dff;
    border-color: #334dff;
}

.choose-color-red {
    background: #fc4829;
    border-color: #fc4829;
}

.choose-color-green {
    background: #35ba2b;
    border-color: #35ba2b;
}

.choose-color-brown {
    background: #926547;
    border-color: #926547;
}

.choose-color-beige {
    background: #f1d9b2;
    border-color: #f1d9b2;
}

.choose-color-sky {
    background: #36a1ff;
    border-color: #36a1ff;
}

.choose-color-gold {
    background: linear-gradient(to bottom, #ffed02, #fd9c00);
    border-color: #fabe00;
}

.choose-color-magenta {
    background: #c5172d;
    border-color: #c5172d;
}

.choose-color-purple {
    background: #9966cc;
    border-color: #9966cc;
}

.choose-color-yellow {
    background: #fde90f;
    border-color: #fde90f;
}

.choose-color-orange {
    background: #ff9966;
    border-color: #ff9966;
}

.choose-color-pink {
    background: #ffc0cb;
    border-color: #ffc0cb;
}

.ColorField__item {
    border-radius: 16px;
    cursor: pointer;
    height: 32px;
    position: relative;
    width: 32px;
}

.ColorField {
    /*grid-row-gap: 16px;*/
    display: grid;
    /*grid-template-columns: repeat(11,32px);*/
    /*justify-content: space-between;*/
    grid-row-gap: 9px;
    grid-template-columns: repeat(8, 41px);
    justify-content: start;
}


.numbering {
    background-color: #9b9b9b;
    float: left;
    color: #fff;
    text-align: center;
    padding: 2px 1px;
    width: 27px;
    height: 27px;
    border-radius: 25px;
    margin-left: 10px;
}

.small-label {
    opacity: .65;
    transform: scale(.85) translateY(-.5rem) translateX(.15rem);
}

.bg-light {
    background-color: RGBA(248, 249, 250) !important;
    border-radius: 20px;
    /*width: 480px;*/
    /*margin: 50px auto;*/
    /*padding: 20px;*/
}

.PhotosAdd__icon {
    align-items: center;
    box-sizing: border-box;
    color: #0c78ed;
    display: flex;
    font-size: 15px;
    /*height: 100%;*/
    height: 30px;
    justify-content: center;
    line-height: 20px;
    position: relative;
    width: 100%;
}

.PhotosAdd {
    height: 30px;
    align-items: center;
    box-sizing: border-box;
    color: #0c78ed;
    display: flex;
    font-size: 15px;
    /*height: 100%;*/
    justify-content: center;
    line-height: 20px;
    position: relative;
    width: 100%;
}

.PhotosAdd__title {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.IconSvg_size_32 {
    height: 32px;
    width: 32px;
}

.IconSvg_size_24 {
    height: 24px;
    width: 24px;
}

.PhotosAdd {
    /*background-color: #0c78ed1f;*/
    border: none;
    border-radius: 8px;
    font-size: 13px;
    line-height: 18px;
}

.PhotosAdd__wrapper {
    align-items: center;
    display: flex;
    height: 100%;
    justify-content: center;
    overflow: hidden;
    width: 100%;
}

.PhotosAdd__withPhotos {
    background-color: #0c78ed1f;
    border: none;
    border-radius: 8px;
    font-size: 13px;
    line-height: 18px;
}

.MdsPhotos__addButton {
    height: 130px;
    width: 132px;
}

.PhotosAdd__addButton {
    /* background-color: #0c78ed1f; */
    /* border: none; */
    /* border-radius: 8px; */
    font-size: 13px;
    line-height: 18px;
}

.display-none {
    display: none;
}

.grid-filter {
    display: grid;
    grid-template-areas: "mark mark model model odometerFrom odometerBefore"
    "body gear engine transmission displacementFrom displacementBefore"
    "yearFrom yearBefore powerFrom powerBefore priceFrom priceBefore"
    ". . . . sort sort";
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: repeat(4, auto);
    grid-gap: 0.5em;
    max-width: 500px;
    /*margin: 0 auto;*/
}

.mark {
    grid-area: mark;
}

.model {
    grid-area: model;
}

.body {
    grid-area: body;
}

.gear {
    grid-area: gear;
}

.engine {
    grid-area: engine;
}

.transmission {
    grid-area: transmission;
}

.displacementFrom {
    grid-area: displacementFrom;
}

.displacementBefore {
    grid-area: displacementBefore;
}

.yearFrom {
    grid-area: yearFrom;
}

.yearBefore {
    grid-area: yearBefore;
}

.priceFrom {
    grid-area: priceFrom;
}

.priceBefore {
    grid-area: priceBefore;
}

.powerFrom {
    grid-area: powerFrom;
}

.powerBefore {
    grid-area: powerBefore;
}

.odometerFrom {
    grid-area: odometerFrom;
}

.odometerBefore {
    grid-area: odometerBefore;
}

.sort {
    grid-area: sort;
}

.width-elm {
    width: 70px;
}
