.main-ticket-photo {
    width: 150px;
    height: 100px;
    object-fit: cover;
    border-radius: 5px;
}

.bold-700-s18 {
    font-weight: 700;
    font-size: 18px;
}

.green {
    color: #3c9806;
}

.IconSvg_size_18 {
    width: 18px;
    height: 18px;
}

.checkboxStatus {
    background-color: hsl(153deg 98% 29%) !important;
    border-color: hsl(153deg 98% 29%) !important;
}

.delete-btn {
    padding: 0.05em 0.4em 0.05em 0.4em;
    color: white;
    background-color: #a50202;
    border-color: #a50202;
}

.carName {
    color: #256799;
    font-weight: 600;
}
