.gallery-container {
    display: flex;
    justify-content: center;
}

.thumbnails {
    display: flex;
    flex-direction: column;
    gap: 8px;
    height: 90vh;
    overflow-y: auto;

    white-space: nowrap;
    -ms-overflow-style: none; /* IE 10+ */
    scrollbar-width: none; /* Firefox */
}

::-webkit-scrollbar { /* chrome based */
    width: 0px; /* ширина scrollbar'a */
    background: transparent; /* опционально */
}

.thumbnails img {
    /*width: 40px;*/
    height: 80px;
    cursor: pointer;

    border: 2px solid transparent; /* Прозрачная рамка */
}

.thumbnails-active {
    border: 2px solid transparent; /* Прозрачная рамка */
}

.thumbnail-border {
    border: 2px solid #e6e6e6 !important; /* Цветная рамка */
    border-radius: 0.375rem;
}

.thumbnails img:hover {
    border: 2px solid #00af64; /* Цветная рамка */
    border-radius: 0.375rem;
}


.scrollbar {
    width: 1px;
    /*height: 720px;*/
    background: #ccc;
    display: block;
    margin: 0 0 0 8px;
    height: 90vh;
}

.thumb {
    width: 1px;
    position: absolute;
    height: 0;
    background: #000;
}

.slides {
    margin: 0 16px;
    display: grid;
    grid-auto-flow: row;
    gap: 1rem;
    /*width: calc(540px + 1rem);*/
    max-width: 100%;
    padding: 0 0.25rem;
    /*height: 720px;*/
    height: 90vh;
    overflow-y: auto;
    overscroll-behavior-y: contain;
    scroll-snap-type: y mandatory;
    scrollbar-width: none;
}

.slides > div {
    /*scroll-snap-align: start;*/
}

.slides img {
    /*width: 540px;*/
    max-width: 100%;
    object-fit: contain;
}

.slides::-webkit-scrollbar {
    display: none;
}


.ImageGallery__thumb {
    background-position: 50%;
    background-size: cover;
    display: block;
    height: 100%;
    object-fit: cover;
    width: 100%;
}


.ImageGalleryDesktop__image {
    display: block;
    /*height: 438px;*/
    margin: auto;
    max-width: 100%;
    object-fit: contain;
    /*position: relative;*/
    /*transition: transform .5s;*/
}

/* The Modal (background) */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: #000000CC;
}

.close {
    /*color: white;*/
    position: absolute !important;
    top: 2rem;
    right: 2rem;
    /*font-size: 35px;*/
    /*font-weight: bold;*/
}

.close-label {
    color: white;
    /*position: absolute;*/
    /*top: 0px;*/
    /*right: 0px;*/
    font-size: 55px;
    font-family: none;
    /*font-weight: bold;*/
}

/*List of characteristicks*/
.item-post {
    margin-bottom: 1rem;
    /*width: 120px;*/
    display: flex;
}

.item-post > span:first-child {
    width: 120px;
}

h3.under-head {
    font-size: 18px;
    padding-left: 34px;
}