<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout}"
      lang="en">
<head>
  <title>Мои объявления</title>
  <link rel='stylesheet' th:href="@{/css/myposts.css}">
</head>
<body>

<th:block layout:fragment="breadcrumb">
  <nav layout:replace="~{layout/breadcrumbs::breadcrumb('мои объявления')}"></nav>
</th:block>

<div layout:fragment="page-content">
  <div th:replace="~{fragments/defssvg::difssvg}"></div>
  <div class="d-flex justify-content-center align-items-center mt-4 mb-2"
       style="width:700px;height: 50px">
    <a th:href="@{/cars/add}">
      <button type="button" class="btn btn-dark"
              style="padding: 0.2em 0.6em 0.2em 0.6em;font-size: smaller;color: white">
        добавить объявление
      </button>
    </a>
  </div>

  <table class="table caption-top" style="width: 700px">
    <caption style="font-size: smaller;">Мои объявления</caption>
    <thead class="table-light">
    <tr>
      <th scope="col" class="position-relative" style="font-size: 0.8em;">
        <span class="position-absolute top-50 translate-middle-y">Активировать</span>
      </th>
      <th scope="col"></th>
      <th scope="col" style="font-size: 0.8em;">Описание</th>
      <th scope="col" style="font-size: 0.8em;">Удалить</th>
    </tr>
    </thead>
    <tbody>

    <tr class="select-item" th:each="item,iterStat :${newItem}">
      <td class="position-relative p-3">
        <div class="form-check form-switch position-absolute top-50 start-50 translate-middle">
        </div>
      </td>
      <td class="position-relative" style="width: 170px;">
        <img th:if="${!#lists.isEmpty(item.images)}"
             th:src="@{|/cars/img/*{item.images[0]}|}" class="main-ticket-photo">
        <div th:if="${#lists.isEmpty(item.images)}"
             class="position-absolute top-50 start-50 translate-middle">NO IMAGE
        </div>
      </td>
      <td class="" style="width: 350px;">
        <div class="d-flex justify-content-between align-items-center" style="height: 4rem;">
          <span style="color: #b10000;font-weight: bolder;">Закончить объявление</span>
          <a th:href="@{|/cars/edit/${item.id}|}" style="margin-right: 20px;">
            <button type="button" class="btn edit-btn">редактировать</button>
          </a>
        </div>
      </td>
      <td class="position-relative p-4" style="width: 3rem;">
        <div class="position-absolute top-50 start-50 translate-middle">
          <a th:href="@{|/myposts/deleteCar/${item.id}|}">
            <button type="button" class="btn-close color-close" aria-label="Close"></button>
          </a>
        </div>
      </td>
    </tr>
    <tr th:replace="~{fragments/postCar::myPosts(*{onSale})}"></tr>
    <tr th:replace="~{fragments/postCar::myPosts(*{notActive})}"></tr>
    <tr th:replace="~{fragments/postCar::myPosts(*{bought})}"></tr>
    </tbody>
  </table>
</div>
<th:block layout:fragment="page-scripts">
  <script th:src="@{/js/myPosts.js}"></script>
</th:block>
</body>
</html>