<!doctype html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout}"
      lang="en">
<head>
  <title>Регистрация</title>
</head>
<body>

<th:block layout:fragment="breadcrumb">
  <nav layout:replace="~{layout/breadcrumbs::breadcrumb('регистрация')}"></nav>
</th:block>

<div layout:fragment="page-content">
  <div class="container pt-5 px-5">
    <div class="row justify-content-center">
      <div class="card" style="width: 400px">
        <div class="card-header" style="color: #208097;background-color: white;text-align: center;font-weight: bold">
          Регистрация
        </div>
        <div class="card-body pt-0">
          <form th:action="@{/signIn}" method="POST" th:object="${account}">
            <div
                th:replace="fragments/validInput::inputfield('имя','firstName')">
            </div>
            <div
                th:replace="fragments/validInput::inputfield('фамилия','lastName')">
            </div>
            <div
                th:replace="fragments/validInput::selectfield('город','city',*{city?.id})">
            </div>
            <div
                th:replace="fragments/validInput::inputfield('телефон','phoneNumber')">
            </div>
            <div
                th:replace="fragments/validInput::inputfield(labelText='почта',fieldName='login', inputType='email')">
            </div>
            <div
                th:replace="fragments/validInput::inputfield('пароль','password')">
            </div>
            <div class="d-flex pt-4">
              <div>
                <button type="submit" class="btn btn-primary">Войти</button>
              </div>
              <div class="px-3">
                <a th:href="@{/posts}" class="btn btn-light">Cancel</a>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

<th:block layout:fragment="page-scripts">
  <script>
      document.querySelectorAll('select').forEach(n => {
          n.classList.add(n.value == '' ? 'select-grey' : '');
          n.addEventListener('change', (e) => {
                  if (n.value == '') {
                      n.classList.add('select-grey');
                  } else
                      n.classList.remove('select-grey');
              }
          )
      })
  </script>
</th:block>
</body>
</html>
